<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="heading_page shadow-sm header_usrprofl p-2 pr-3">
                <h1 class="d-inline-block">
                    <span class="usr_headleft"><i class="mdi mdi-account-multiple mx-2"></i> Creating a Profile
            for the Carehome</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="horizontal-tabs my-3 user-form-container bg-white shadow-sm">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 no-pad scroller">
                            <div class="left-btn-scroller left-scroll ">
                                <i class="mdi mdi-chevron-left"></i>
                            </div>
                            <div class="right-btn-scroller right-scroll ">
                                <i class="mdi mdi-chevron-right"></i>
                            </div>
                            <div class="box_nav_tab" id="scroll-div">
                                <ul class="nav nav-tabs prof_info_tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#carehomes-form" role="tab" aria-controls="carehomes-form">
                                            <img src="assets/images/care-home.svg">
                                            <span>CAREHOME</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#userform" role="tab" aria-controls="userform">
                                            <img src="assets/images/user-form.svg">
                                            <span>USER FORM</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#location-1" role="tab" aria-controls="location">
                                            <img src="assets/images/location-carehome.svg">
                                            <span>LOCATION</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#trainingcourse" role="tab" aria-controls="trainingcourse">
                                            <img src="assets/images/course.svg">
                                            <span>COURSE</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-content">
                    <div class="tab-pane active" id="carehomes-form" role="tabpanel">
                        <div class="sv-tab-panel info_tab_container">
                            <h3>Creating a Profile</h3>
                            <div class="care-infotable d-inline-block float-left">
                                <table class="table mb-0">
                                    <tbody>
                                        <tr>
                                            <th class="">Name of Carehome</th>
                                            <td>
                                                <span class="d-none">N/A</span>
                                                <div class="form-group mb-0 input-txtbox">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Enter Reason" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="">Contact first name</th>
                                            <td>
                                                <span class="d-none">N/A</span>
                                                <div class="form-group mb-0 input-txtbox">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Enter Reason" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Contact Last name</th>
                                            <td>
                                                <span class="d-none">N/A</span>
                                                <div class="form-group mb-0 input-txtbox">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Enter Reason" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="">Contact email</th>
                                            <td>
                                                <span class="d-none">N/A</span>
                                                <div class="form-group mb-0 input-txtbox">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Contact no.</th>
                                            <td>
                                                <span class="d-none">N/A</span>
                                                <div class="form-group mb-0 input-txtbox">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Enter Reason" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="">Main Address 1</th>
                                            <td>
                                                <span class="d-none">N/A</span>
                                                <div class="form-group mb-0 input-txtbox">
                                                    <textarea cols="1" rows="1" class="form-control" placeholder="" spellcheck="false">
                            </textarea>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="care-infotable d-inline-block float-left">
                                <table class="table mb-0">
                                    <tbody>
                                        <tr>
                                            <th class="w-50">Main Address 2</th>
                                            <td class="w-50">
                                                <span class="d-none">N/A</span>
                                                <div class="form-group mb-0 input-txtbox">
                                                    <textarea cols="1" rows="1" class="form-control" placeholder="" spellcheck="false">
                            </textarea>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="w-50">Main Address 3</th>
                                            <td class="w-50">
                                                <span class="d-none">N/A</span>
                                                <div class="form-group mb-0 input-txtbox">
                                                    <textarea cols="1" rows="1" class="form-control" placeholder="" spellcheck="false">
                            </textarea>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="w-50">Main Address 4</th>
                                            <td class="w-50">
                                                <span class="d-none">N/A</span>
                                                <div class="form-group mb-0 input-txtbox">
                                                    <textarea cols="1" rows="1" class="form-control" placeholder="" spellcheck="false">
                            </textarea>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="w-100 d-inline-block mt-3">
                                <h4>Creating Profile</h4>
                                <div class="care-infotable d-inline-block float-left">
                                    <table class="table mb-0">
                                        <tbody>
                                            <tr>
                                                <th class="">Email/Username</th>
                                                <td>
                                                    <span class="d-none">N/A</span>
                                                    <div class="form-group mb-0 input-txtbox">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" placeholder="Enter Reason" />
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="">Password</th>
                                                <td>
                                                    <span class="d-none">N/A</span>
                                                    <div class="form-group mb-0 input-txtbox">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" placeholder="Enter Reason" />
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Type of User</th>
                                                <td>
                                                    <span class="d-none">N/A</span>
                                                    <div class="form-group mb-0 input-txtbox">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" placeholder="Enter Reason" />
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-12 d-inline-block text-center mt-3 w-100">
                                <button type="button" class="btn btn-sm btn-success rounded-pill">
                  <i class="mdi mdi-content-save-settings mr-2"></i> Save
                </button>
                                <button type="button" class="btn btn-sm btn-info btn-next rounded-pill">
                  Save Next <i class="mdi mdi-arrow-right ml-2"></i>
                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="userform" role="tabpanel">
                        <div class="sv-tab-panel info_tab_container">
                            <h3>Creating User</h3>
                            <div class="care-infotable d-inline-block float-left">
                                <table class="table mb-0">
                                    <tbody>
                                        <tr>
                                            <th class="">Email/Username</th>
                                            <td>
                                                <span class="d-none">N/A</span>
                                                <div class="form-group mb-0 input-txtbox">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="">Password</th>
                                            <td>
                                                <span class="d-none">N/A</span>
                                                <div class="form-group mb-0 input-txtbox">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Firstname</th>
                                            <td>
                                                <span class="d-none">N/A</span>
                                                <div class="form-group mb-0 input-txtbox">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="">Surname</th>
                                            <td>
                                                <span class="d-none">N/A</span>
                                                <div class="form-group mb-0 input-txtbox">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="">Staff no.</th>
                                            <td>
                                                <span class="d-none">N/A</span>
                                                <div class="form-group mb-0 input-txtbox">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="care-infotable d-inline-block float-left">
                                <table class="table mb-0">
                                    <tbody>
                                        <tr>
                                            <th>Date Employed</th>
                                            <td>
                                                <span class="d-none">N/A</span>
                                                <div class="form-group mb-0 input-txtbox">
                                                    <div class="input-group">
                                                        <input type="date" class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="">Location</th>
                                            <td>
                                                <span class="d-none">N/A</span>
                                                <div class="form-group mb-0 input-txtbox">
                                                    <select class="form-control" id="location">
                            <option>Location 1</option>
                            <option>Location 2</option>
                            <option>Location 3</option>
                            <option>Location 4</option>
                            <option>Location 5</option>
                          </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="">Position</th>
                                            <td>
                                                <span class="d-none">N/A</span>
                                                <div class="form-group mb-0 input-txtbox">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="">Training</th>
                                            <td>
                                                <span class="d-none">N/A</span>
                                                <div class="form-group mb-0 input-txtbox">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="w-100 d-inline-block mt-3">
                                <button type="button" class="btn btn-sm btn-primary ml-5 rounded-pill mb-3">Add Course <i
                    class="mdi mdi-plus ml-2"></i></button>
                                <div class="care-infotable d-inline-block w-96">
                                    <table class="table mb-0">
                                        <tbody>
                                            <tr>
                                                <th class="w-20">
                                                    <span>Course</span>
                                                    <span class="d-none">N/A</span>
                                                    <div class="form-group mb-0 input-txtbox">
                                                        <select class="form-control" id="location">
                              <option>Induction</option>
                              <option>Care certificate</option>
                              <option>Health & Safety</option>
                              <option>First Aid</option>
                              <option>Fire Safety</option>
                            </select>
                                                    </div>
                                                </th>
                                                <th class="w-20">
                                                    <span>Mandatory</span>
                                                    <span class="d-none">N/A</span>
                                                    <div class="form-group mb-0 input-txtbox">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" placeholder="Enter Reason" />
                                                        </div>
                                                    </div>
                                                </th>
                                                <th class="w-20">
                                                    <span>Date Started</span>
                                                    <span class="d-none">N/A</span>
                                                    <div class="form-group mb-0 input-txtbox">
                                                        <div class="input-group">
                                                            <input type="date" class="form-control" placeholder="Enter Reason" />
                                                        </div>
                                                    </div>
                                                </th>
                                                <th class="w-20">
                                                    <span>Date Due</span>
                                                    <span class="d-none">N/A</span>
                                                    <div class="form-group mb-0 input-txtbox">
                                                        <div class="input-group">
                                                            <input type="date" class="form-control" placeholder="Enter Reason" />
                                                        </div>
                                                    </div>
                                                </th>
                                                <th class="w-20">
                                                    <span>Date Completed</span>
                                                    <span class="d-none">N/A</span>
                                                    <div class="form-group mb-0 input-txtbox">
                                                        <div class="input-group">
                                                            <input type="date" class="form-control" placeholder="Enter Reason" />
                                                        </div>
                                                    </div>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="w-100 d-inline-block mt-3">
                                <button type="button" class="btn btn-sm btn-primary ml-5 rounded-pill mb-3">Add Course <i
                    class="mdi mdi-plus ml-2"></i></button>
                                <div class="care-infotable add_couse_info d-inline-block w-96">
                                    <div class="close_course">
                                        <i class="mdi mdi-close"></i>
                                    </div>
                                    <table class="table mb-0">
                                        <tbody>
                                            <tr>
                                                <th class="w-20">
                                                    <span>Course</span>
                                                    <span class="d-none">N/A</span>
                                                    <div class="form-group mb-0 input-txtbox">
                                                        <select class="form-control" id="location">
                              <option>Induction</option>
                              <option>Care certificate</option>
                              <option>Health & Safety</option>
                              <option>First Aid</option>
                              <option>Fire Safety</option>
                            </select>
                                                    </div>
                                                </th>
                                                <th class="w-20">
                                                    <span>Mandatory</span>
                                                    <span class="d-none">N/A</span>
                                                    <div class="form-group mb-0 input-txtbox">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" placeholder="Enter Reason" />
                                                        </div>
                                                    </div>
                                                </th>
                                                <th class="w-20">
                                                    <span>Date Started</span>
                                                    <span class="d-none">N/A</span>
                                                    <div class="form-group mb-0 input-txtbox">
                                                        <div class="input-group">
                                                            <input type="date" class="form-control" placeholder="Enter Reason" />
                                                        </div>
                                                    </div>
                                                </th>
                                                <th class="w-20">
                                                    <span>Date Due</span>
                                                    <span class="d-none">N/A</span>
                                                    <div class="form-group mb-0 input-txtbox">
                                                        <div class="input-group">
                                                            <input type="date" class="form-control" placeholder="Enter Reason" />
                                                        </div>
                                                    </div>
                                                </th>
                                                <th class="w-20">
                                                    <span>Date Completed</span>
                                                    <span class="d-none">N/A</span>
                                                    <div class="form-group mb-0 input-txtbox">
                                                        <div class="input-group">
                                                            <input type="date" class="form-control" placeholder="Enter Reason" />
                                                        </div>
                                                    </div>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="care-infotable add_couse_info d-inline-block w-96">
                                    <div class="close_course">
                                        <i class="mdi mdi-close"></i>
                                    </div>
                                    <table class="table mb-0">
                                        <tbody>
                                            <tr>
                                                <th class="w-20">
                                                    <span>Course</span>
                                                    <span class="d-none">N/A</span>
                                                    <div class="form-group mb-0 input-txtbox">
                                                        <select class="form-control" id="location">
                              <option>Induction</option>
                              <option>Care certificate</option>
                              <option>Health & Safety</option>
                              <option>First Aid</option>
                              <option>Fire Safety</option>
                            </select>
                                                    </div>
                                                </th>
                                                <th class="w-20">
                                                    <span>Mandatory</span>
                                                    <span class="d-none">N/A</span>
                                                    <div class="form-group mb-0 input-txtbox">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" placeholder="Enter Reason" />
                                                        </div>
                                                    </div>
                                                </th>
                                                <th class="w-20">
                                                    <span>Date Started</span>
                                                    <span class="d-none">N/A</span>
                                                    <div class="form-group mb-0 input-txtbox">
                                                        <div class="input-group">
                                                            <input type="date" class="form-control" placeholder="Enter Reason" />
                                                        </div>
                                                    </div>
                                                </th>
                                                <th class="w-20">
                                                    <span>Date Due</span>
                                                    <span class="d-none">N/A</span>
                                                    <div class="form-group mb-0 input-txtbox">
                                                        <div class="input-group">
                                                            <input type="date" class="form-control" placeholder="Enter Reason" />
                                                        </div>
                                                    </div>
                                                </th>
                                                <th class="w-20">
                                                    <span>Date Completed</span>
                                                    <span class="d-none">N/A</span>
                                                    <div class="form-group mb-0 input-txtbox">
                                                        <div class="input-group">
                                                            <input type="date" class="form-control" placeholder="Enter Reason" />
                                                        </div>
                                                    </div>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-sm-12 d-inline-block text-center mt-3 w-100">
                                <button type="button" class="btn btn-sm btn-dark rounded-pill">
                  <i class="mdi mdi-arrow-left mr-2"></i> Back
                </button>
                                <button type="button" class="btn btn-sm btn-info btn-next rounded-pill">
                  Save Next <i class="mdi mdi-arrow-right ml-2"></i>
                </button>
                                <button type="button" class="btn btn-sm btn-success rounded-pill">
                  <i class="mdi mdi-content-save-settings mr-2"></i> Save
                </button>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="tab-pane" id="location-1" role="tabpanel">
                    <div class="sv-tab-panel info_tab_container">
                        <h3>Creating Location</h3>
                        <div class="care-infotable d-inline-block float-left">
                            <table class="table mb-0">
                                <tbody>
                                    <tr>
                                        <th class="">Name of Location</th>
                                        <td>
                                            <span class="d-none">N/A</span>
                                            <div class="form-group mb-0 input-txtbox">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="">Location ID</th>
                                        <td>
                                            <span class="d-none">N/A</span>
                                            <div class="form-group mb-0 input-txtbox">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Address 1</th>
                                        <td>
                                            <span class="d-none">N/A</span>
                                            <div class="form-group mb-0 input-txtbox">
                                                <textarea cols="1" rows="1" class="form-control" placeholder="" spellcheck="false">
                              </textarea>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Address 2</th>
                                        <td>
                                            <span class="d-none">N/A</span>
                                            <div class="form-group mb-0 input-txtbox">
                                                <textarea cols="1" rows="1" class="form-control" placeholder="" spellcheck="false">
                              </textarea>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="care-infotable d-inline-block float-left">
                            <table class="table mb-0">
                                <tbody>

                                    <tr>
                                        <th>Address 3</th>
                                        <td>
                                            <span class="d-none">N/A</span>
                                            <div class="form-group mb-0 input-txtbox">
                                                <textarea cols="1" rows="1" class="form-control" placeholder="" spellcheck="false">
                              </textarea>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Address 4</th>
                                        <td>
                                            <span class="d-none">N/A</span>
                                            <div class="form-group mb-0 input-txtbox">
                                                <textarea cols="1" rows="1" class="form-control" placeholder="" spellcheck="false">
                              </textarea>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="">Post Code</th>
                                        <td>
                                            <span class="d-none">N/A</span>
                                            <div class="form-group mb-0 input-txtbox">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12 d-inline-block text-center mt-3 w-100">
                            <button type="button" class="btn btn-sm btn-dark rounded-pill">
                <i class="mdi mdi-arrow-left mr-2"></i> Back
              </button>
                            <button type="button" class="btn btn-sm btn-info btn-next rounded-pill">
                Save Next <i class="mdi mdi-arrow-right ml-2"></i>
              </button>
                            <button type="button" class="btn btn-sm btn-success rounded-pill">
                <i class="mdi mdi-content-save-settings mr-2"></i> Save
              </button>

                        </div>
                    </div>
                    <div class="tab-pane" id="trainingcourse" role="tabpanel">
                        <div class="sv-tab-panel info_tab_container">
                            <h3>Add training course</h3>
                            <div class="care-infotable d-inline-block float-left">
                                <table class="table mb-0">
                                    <tbody>
                                        <tr>
                                            <th class="">Name of course</th>
                                            <td>
                                                <span class="d-none">N/A</span>
                                                <div class="form-group mb-0 input-txtbox">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="">Mandatory</th>
                                            <td>
                                                <div class="form-check d-inline-block mr-3">
                                                    <input class="form-check-input mt-1" type="radio" name="mandatory" id="yes" value="option1" checked>
                                                    <label class="form-check-label" for="yes">
                            Yes
                          </label>
                                                </div>
                                                <div class="form-check d-inline-block">
                                                    <input class="form-check-input mt-1" type="radio" name="mandatory" id="no" value="option2">
                                                    <label class="form-check-label" for="no">
                            No
                          </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center" colspan="2">
                                                <button type="button" class="btn btn-sm btn-success rounded-pill">
                          Submit
                        </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="care-infotable traing-course-table w-96 mt-3 d-inline-block">
                                <table class="table table-bordered table-hover bg-white mb-0">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>S.no</th>
                                            <th>Name of Course</th>
                                            <th>Mandatory</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Induction</td>
                                            <td>Yes</td>
                                            <td>
                                                <div class="actionbox">
                                                    <i class="mdi text-primary mdi-pencil mr-2" data-toggle="modal" data-target="#edit-course"></i>
                                                    <i class="mdi text-danger mdi-delete mr-2"></i>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Care certificate</td>
                                            <td>Yes</td>
                                            <td>
                                                <div class="actionbox">
                                                    <i class="mdi text-primary mdi-pencil mr-2"></i>
                                                    <i class="mdi text-danger mdi-delete mr-2"></i>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Health & Safety</td>
                                            <td>Yes</td>
                                            <td>
                                                <div class="actionbox">
                                                    <i class="mdi text-primary mdi-pencil mr-2"></i>
                                                    <i class="mdi text-danger mdi-delete mr-2"></i>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>First Aid</td>
                                            <td>Yes</td>
                                            <td>
                                                <div class="actionbox">
                                                    <i class="mdi text-primary mdi-pencil mr-2"></i>
                                                    <i class="mdi text-danger mdi-delete mr-2"></i>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="edit-course" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Name of course</label>
                        <input type="text" class="form-control" id="nameofcourse" placeholder="">
                    </div>
                </form>
                <label class="d-block">Mandatory</label>
                <div class="form-check d-inline-block mr-3">
                    <input class="form-check-input mt-1" type="radio" name="editmandatory" id="edit-yes" value="option3" checked>
                    <label class="form-check-label" for="edit-yes">
            Yes
          </label>
                </div>
                <div class="form-check d-inline-block">
                    <input class="form-check-input mt-1" type="radio" name="editmandatory" id="edit-no" value="option4">
                    <label class="form-check-label" for="edit-no">
            No
          </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>