<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risk Assessment</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            background-color: #fff;
        }
        
        td,
        th {
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #ecf4fa;
        }
        
        .table {
            width: 1000px;
            margin: 0px auto;
            border: solid thin #eaeaea;
        }
    </style>
</head>

<body>
    <div class="table">

        <!--Section 1-->
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <th colspan="2" style="text-align:center;color: #fff;background-color: #b16d76 !important;line-height: 40px;">Risk Assessment
                        <div class="pull-right">
                            <button class="btn btn-sm btn-dark rounded-pill mr-4 mb-2" (click)="getRiskAssessments()">Go Back</button>
                        </div>
                    </th>

                </tr>
                <tr style="background-color: #ececec;border-bottom: solid thin #eaeaea;">
                    <th colspan="2">
                        Section 1
                    </th>
                </tr>

                <tr>
                    <td>
                        Other agencies involved
                    </td>
                    <td>
                        {{getOtherAgency(previourValues.OtherAgenciesInvolved)}}
                    </td>
                </tr>
                <tr *ngIf="previourValues.OtherAgenciesInvolvedSpecification">
                    <th>
                        Other (specify)
                    </th>
                </tr>
                <tr *ngIf="previourValues.OtherAgenciesInvolvedSpecification">
                    <td>
                        {{previourValues.OtherAgenciesInvolvedSpecification}}
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        Assessment Details
                    </th>
                </tr>
                <tr>
                    <td>
                        Assessment type
                    </td>
                    <td>
                        {{previourValues.AssessmentType}}
                    </td>
                </tr>
                <tr>
                    <td>
                        CPA status at time of assessment
                    </td>
                    <td>
                        {{cpaStatusEnum[previourValues.CPAStatus]}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Legal status
                    </td>
                    <td>
                        {{legalStatusRiskEnum[previourValues.LegalStatus]}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Was the person assessed in a crisis situation?
                    </td>
                    <td>
                        {{previourValues.IsAssessed}}
                    </td>
                </tr>
            </tbody>
        </table>

        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <th colspan="2">
                        Assessment Summary
                    </th>
                </tr>

                <tr>
                    <td>
                        Is there any evidence of a history of significant risk behaviour?
                    </td>
                    <td>
                        {{previourValues.RiskBehaviourEvidence}}
                    </td>
                </tr>

                <tr>
                    <td>
                        Involved in serious incident in past 3 months?
                    </td>
                    <td>
                        {{seriousIncidentEnum[previourValues.PastSeriousIncident]}}
                    </td>
                </tr>
            </tbody>
        </table>

        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>

                <tr>
                    <th colspan="2">
                        Current Risk Status
                    </th>
                </tr>
                <tr>
                    <td>
                        Risk of violence to others
                    </td>
                    <td>
                        {{previourValues.RiskOfVioleance}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Risk of suicide
                    </td>
                    <td>
                        {{previourValues.RiskOfSuicide}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Risk of deliberate self-harm
                    </td>
                    <td>
                        {{previourValues.RiskDeliberateSelfHarm}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Risk of severe self-neglect
                    </td>
                    <td>
                        {{previourValues.RiskSevereSelfNeglect}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Risk of accidental self-harm
                    </td>
                    <td>
                        {{previourValues.AccidentalSelfHarm}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Risk of abuse/exploitation by others
                    </td>
                    <td>
                        {{previourValues.AbuseExploitationByOthers}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Risk related to physical condition
                    </td>
                    <td>
                        {{previourValues.RiskPhysicalCondition}}
                    </td>
                </tr>
                <tr>
                    <td>
                        High risk of relapse?
                    </td>
                    <td>
                        {{previourValues.HighRiskOfRelapse}}
                    </td>
                </tr>
            </tbody>
        </table>

        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <th>
                        Persons potentially at risk
                    </th>
                </tr>
                <tr>
                    <td>
                        {{personsAtRiskEnum[previourValues.PotentialRisk]}}
                    </td>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody *ngIf="previourValues.PotentialRisk == personsAtRiskEnum.Child">
                <tr>
                    <th>
                        Persons potentially at risk
                    </th>
                </tr>
                <tr>
                    <td>
                        {{previourValues.IsDependentChild}}
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="previourValues.PotentialRisk == personsAtRiskEnum.Other">
                <tr>
                    <th>
                        Other (specify)
                    </th>
                </tr>
                <tr>
                    <td>
                        {{previourValues.PotentialRiskSpecification}}
                    </td>
                </tr>
            </tbody>
        </table>

        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <th>
                        Further actions recommended/required
                    </th>
                </tr>
                <tr>
                    <td>
                        {{personsAtRiskEnum[previourValues.FutherAction]}}
                    </td>
                </tr>
            </tbody>
        </table>

        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <th>
                        Additional notes
                    </th>
                </tr>
                <tr>
                    <td>
                        {{previourValues.AdditionalNote1}}
                    </td>
                </tr>
            </tbody>
        </table>

        <!--Section 2-->
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr style="background-color: #ececec;border-bottom: solid thin #eaeaea;">
                    <th colspan="4">
                        Section 2
                    </th>
                </tr>
                <tr>
                    <th colspan="4">
                        Clinical symptoms indicative of risk
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        History
                    </th>
                    <th>
                        Current
                    </th>
                    <th>
                        Notes
                    </th>
                </tr>
                <tr>
                    <th class="">
                        Early warning signs of relapse
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.earlyWarningSign]):"N/A"}}
                    </td>
                    <td>
                        <span class="">{{riskEntryEnum[previourValues.EarlyWarningSign]}}</span>

                    </td>
                    <td>
                        <span class="">{{previourValues.EarlyWarningSignNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Ideas of harming others
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.ideaHarmingOthers]):"N/A"}}
                    </td>
                    <td>
                        {{riskEntryEnum[previourValues.IdeaHarmingOthers]}}

                    </td>
                    <td>
                        <span class="">{{previourValues.IdeaHarmingOthersNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Ideas of self-harm/suicidal ideation
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.ideaSelfHarm]):"N/A"}}
                    </td>
                    <td>
                        {{riskEntryEnum[previourValues.IdeaSelfHarm]}}

                    </td>
                    <td>
                        <span class="">{{previourValues.IdeaSelfHarmNote}}</span>
                    </td>
                </tr>
                <tr>
                    <th class="">
                        Delusions
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.delusions]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.IdeaHarmingOthers]}}</span>

                    </td>
                    <td>
                        <span class="">{{previourValues.DelusionsNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Command hallucinations
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.commandHallucinations]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.CommandHallucinations]}}</span>
                    </td>
                    <td>
                        <span class="">
                            {{previourValues.CommandHallucinationsNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Morbid jealousy
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.morbidJealousy]):"N/A"}}
                    </td>
                    <td>
                        <span class="">{{riskEntryEnum[previourValues.MorbidJealousy]}}</span>
                    </td>
                    <td>
                        <span class="">{{previourValues.MorbidJealousyNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Impulsivity / lack of impulse control
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.impulsivity]):"N/A"}}
                    </td>
                    <td>
                        <span class="">{{riskEntryEnum[previourValues.Impulsivity]}}</span>
                    </td>
                    <td>
                        <span class="">{{previourValues.ImpulsivityNote}}</span>

                    </td>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <th colspan="4">
                        Behaviour indicative of risk
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        History
                    </th>
                    <th>
                        Current
                    </th>
                    <th>
                        Notes
                    </th>
                </tr>
                <tr>
                    <th class="">
                        Physical harm to others
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.pysicalHarm]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.PysicalHarm]}}</span>
                    </td>
                    <td>
                        <span class="">
                            {{previourValues.PhysicalHarmNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Threats/intimidation (inc. verbal abuse)
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.intimidation]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.Intimidation]}}</span>

                    </td>
                    <td>
                        {{previourValues.IntimidationNote}}
                    </td>
                </tr>
                <tr>
                    <th class="">
                        Preparation to harm others inc. carrying weapons
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.preparationHarmingOthers]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.PreparationHarmingOthers]}}</span>
                        <div class="form-group mb-0 input-txtbox">

                        </div>
                    </td>
                    <td>
                        <span class="">{{previourValues.PreparationHarmingOthersNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Evidence of targeting (children/females/males)
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.evidenceOfTargeting]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.EvidenceOfTargeting]}}</span>

                    </td>
                    <td>
                        <span class="">{{previourValues.EvidenceOfTargetingNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Child protection issues
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.childProtectionIssue]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.ChildProtectionIssue]}}</span>

                    </td>
                    <td>
                        <span class="">
                            {{previourValues.ChildProtectionIssueNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Suicide attempts
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.suicideAttempts]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.SuicideAttempts]}}</span>

                    </td>
                    <td>
                        <span class="">{{previourValues.SuicideAttemptsNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Plans or preparations to commit suicide
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.plansToCommitSuicide]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.PlansToCommitSuicide]}}</span>

                    </td>
                    <td>
                        <span class="">{{previourValues.PlansToCommitSuicideNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Deliberate self-harm (w. no evident suicidal intent)
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.deliberateSelfHarm]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.DeliberateSelfHarm]}}</span>

                    </td>
                    <td>
                        <span class="">{{previourValues.DeliberateSelfHarmNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Domestic risk (falling, unsafe use of appliances, fire)
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.domesticRisk]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.DomesticRisk]}}</span>

                    </td>
                    <td>
                        <span class="">{{previourValues.DomesticRiskNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Drug/alcohol abuse
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.drugAlcoholAbuse]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.DrugAlcoholAbuse]}}</span>

                    </td>
                    <td>
                        <span class="">{{previourValues.DrugAlcoholAbuseNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Fire-setting
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.fireSetting]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.FireSetting]}}</span>

                    </td>
                    <td>
                        <span class="">{{previourValues.FireSettingNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Damage to property
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.damageToProperty]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.DamageToProperty]}}</span>

                    </td>
                    <td>
                        <span class="">{{previourValues.DamageToPropertyNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Reckless or unsafe behaviour (e.g. unsafe driving)
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.recklessUnsafeBehaviour]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.RecklessUnsafeBehaviour]}}</span>

                    </td>
                    <td>
                        <span class="">{{previourValues.RecklessUnsafeBehaviourNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Severe self-neglect
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.severeSelfNeglect]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.SevereSelfNeglect]}}</span>

                    </td>
                    <td>
                        <span class="">
                            {{previourValues.SevereSelfNeglectNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Absconding
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.absconding]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.Absconding]}}</span>

                    </td>
                    <td>
                        <span class=""> {{previourValues.AbscondingNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Wandering
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.wandering]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.Wandering]}}</span>
                    </td>
                    <td>
                        <span class=""> {{previourValues.WanderingNote}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <th colspan="4">
                        Treatment-related indicators
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        History
                    </th>
                    <th>
                        Current
                    </th>
                    <th>
                        Notes
                    </th>
                </tr>
                <tr>
                    <th class="">
                        Discontinuation of medication/poor compliance
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.discontinuationMedication]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.DiscontinuationMedication]}}</span>

                    </td>
                    <td>
                        <span class="">
                            {{previourValues.DiscontinuationMedicationNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Failure to attend appointments
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.failureToAttendAppointment]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.FailureToAttendAppointment]}}</span>

                    </td>
                    <td>
                        <span class="">
                            {{previourValues.FailureToAttendAppointmentNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Unplanned disengagement from services
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.unplannedDisengagmentFromService]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.UnplannedDisengagmentFromService]}}</span>

                    </td>
                    <td>
                        <span class="">
                            {{previourValues.UnplannedDisengagmentFromServiceNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Compulsory admission
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.compulsoryAdmission]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.CompulsoryAdmission]}}</span>

                    </td>
                    <td>
                        <span class="">
                            {{previourValues.CompulsoryAdmissionNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Admission to intensive care ward
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.intensiveCareWard]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.IntensiveCareWard]}}</span>

                    </td>
                    <td>
                        <span class="">
                            {{previourValues.IntensiveCareWardNote}}</span>

                    </td>
                </tr>


            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <th colspan="4">
                        Forensic history
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        History
                    </th>
                    <th>
                        Current
                    </th>
                    <th>
                        Notes
                    </th>
                </tr>
                <tr>
                    <th class="">
                        Conviction for violent offences
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.convictionViolentOffences]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.ConvictionViolentOffences]}}</span>

                    </td>
                    <td>
                        <span class="">
                            {{previourValues.ConvictionViolentOffencesNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Conviction for sexual offences
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.convictionSexualOffences]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.ConvictionSexualOffences]}}</span>

                    </td>
                    <td>
                        <span class="">
                            {{previourValues.ConvictionSexualOffencesNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Admission to special hospital
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.admissionToSpecialHospital]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.AdmissionToSpecialHospital]}}</span>

                    </td>
                    <td>
                        <span class="">
                            {{previourValues.AdmissionToSpecialHospitalNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Admission to secure unit
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.admissionToSecureUnit]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.AdmissionToSecureUnit]}}</span>

                    </td>
                    <td>
                        <span class="">
                            {{previourValues.AdmissionToSecureUnitNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Restriction order
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.restrictionOrder]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.RestrictionOrder]}}</span>

                    </td>
                    <td>
                        <span class="">
                            {{previourValues.RestrictionOrderNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Supervised Discharge
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.supervisedDischarge]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.SupervisedDischarge]}}</span>

                    </td>
                    <td>
                        <span class="">
                            {{previourValues.SupervisedDischargeNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Conditional discharge
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.conditionalDischarge]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.ConditionalDischarge]}}</span>

                    </td>
                    <td>
                        <span class="">
                            {{previourValues.ConditionalDischargeNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Other involvement suggesting risk (e.g. injunctions)
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.otherInvolvementRisk]):"N/A"}}
                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.OtherInvolvementRisk]}}</span>

                    </td>
                    <td>
                        <span class="">
                            {{previourValues.OtherInvolvementRiskNote}}</span>

                    </td>
                </tr>

            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <th colspan="4">
                        Personal circumstances indicative of risk
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        History
                    </th>
                    <th>
                        Current
                    </th>
                    <th>
                        Notes
                    </th>
                </tr>

                <tr>
                    <th class="">
                        Family history of suicide
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.familyHistoryOfSuicide]):"N/A"}}

                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.FamilyHistoryOfSuicide]}}</span>

                    </td>
                    <td>
                        <span class="">
                            {{previourValues.FamilyHistoryOfSuicideNote}}</span>
                    </td>
                </tr>
                <tr>
                    <th class="">
                        Physical problems/frailty (e.g. risk of falling, illness)
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.physicalProblems]):"N/A"}}

                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.PhysicalProblems]}}</span>

                    </td>
                    <td>
                        <span class="">
                            {{previourValues.PhysicalProblemsNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Recent severe stress/life event
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.recentSevereStress]):"N/A"}}

                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.RecentSevereStress]}}</span>

                    </td>
                    <td>
                        <span class="">
                            {{previourValues.RecentSevereStressNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Lack of meaningful employment/occupation
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.lackOfEmployment]):"N/A"}}

                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.LackOfEmployment]}}</span>
                    </td>
                    <td>
                        <span class="">
                            {{previourValues.LackOfEmploymentNote}}</span>
                    </td>
                </tr>
                <tr>
                    <th class="">
                        Financial difficulties
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.financialDifficulties]):"N/A"}}

                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.FinancialDifficulties]}}</span>

                    </td>
                    <td>
                        <span class="">
                            {{previourValues.FinancialDifficultiesNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Concern expressed by others (relatives, carers)
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.concernExpressedByOthers]):"N/A"}}

                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.ConcernExpressedByOthers]}}</span>

                    </td>
                    <td>
                        <span class="">
                            {{previourValues.ConcernExpressedByOthersNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Recurrence of circumstances associated with risk
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.recurrenceOfCircumstances]):"N/A"}}

                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.RecurrenceOfCircumstances]}}</span>

                    </td>
                    <td>
                        <span class="">
                            {{previourValues.RecurrenceOfCircumstancesNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Abuse/victimisation by others
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.abuseByOthers]):"N/A"}}

                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.AbuseByOthers]}}</span>

                    </td>
                    <td>
                        <span class="">
                            {{previourValues.AbuseByOthersNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Social isolation
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.socialIsolation]):"N/A"}}

                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.SocialIsolation]}}</span>

                    </td>
                    <td>
                        <span class="">
                            {{previourValues.SocialIsolationNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Homelessness/rootlessness
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.homelessness]):"N/A"}}

                    </td>
                    <td>
                        <span class="">
                            {{riskEntryEnum[previourValues.Homelessness]}}</span>

                    </td>
                    <td>
                        <span class="">
                            {{previourValues.HomelessnessNote}}</span>

                    </td>
                </tr>
                <tr>
                    <th class="">
                        Other risk factor(s) (specify):
                    </th>
                    <td>
                        {{(lastRiskAsssessment)?(riskEntryEnum[lastRiskAsssessment.otherRiskFactors]):"N/A"}}

                    </td>
                    <td colspan="2">
                        <span class="">{{previourValues.OtherRiskFactors}}</span>
                    </td>

                </tr>



            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <th>
                        Additional notes
                    </th>
                </tr>
                <tr>
                    <td>
                        {{previourValues.AdditionalNote2}}
                    </td>
                </tr>

            </tbody>
        </table>

        <!--Section 3-->

        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr style="background-color: #ececec;border-bottom: solid thin #eaeaea;">
                    <th colspan="4">
                        Section 3
                    </th>
                </tr>
                <tr>
                    <th>
                        Descriptive Summary of Main Risks Identified
                    </th>
                </tr>
                <tr>
                    <td>
                        {{previourValues.SummaryOfMainRisks}}
                    </td>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td>
                        Have actions been taken in the past to reduce risk?
                    </td>
                    <td>
                        {{riskActionEnum[previourValues.ActionToReduceRisk]}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        {{previourValues.ActionToReduceRiskDesc}}
                    </td>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <th colspan="2">
                        Service user’s view of risk
                    </th>
                </tr>
                <tr>
                    <td>
                        Is service user aware of possible risks?
                    </td>
                    <td>
                        {{riskActionEnum[previourValues.IsUserAwareOfRisks]}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        {{previourValues.UserAwareOfRisksDesc}}
                    </td>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <th colspan="2">
                        Carer’s view of risk
                    </th>
                </tr>
                <tr>
                    <td>
                        Are the person’s carer(s)/family aware of possible risks?
                    </td>
                    <td>
                        {{riskActionEnum[previourValues.IsFamilyAwareOfRisks]}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        {{previourValues.IsFamilyAwareOfRisksDesc}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Protective factors (e.g. self-monitoring, social support)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        {{previourValues.ProtectiveFactor}}
                    </td>
                </tr>
            </tbody>
        </table>

        <!--Section 4-->

        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr style="background-color: #ececec;border-bottom: solid thin #eaeaea;">
                    <th colspan="4">
                        Section 4
                    </th>
                </tr>
                <tr>
                    <th>
                        Areas of concern to be addressed by plan
                    </th>
                </tr>
                <tr>
                    <td>
                        {{previourValues.AreasOfConcern}}
                    </td>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td>
                        Actions to be taken
                    </td>
                    <td>
                        {{previourValues.ActionsToBeTaken}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        {{previourValues.ActionToBeTakenSpecification}}
                    </td>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <th colspan="2">
                        Information sources available / accessed in completing risk profile (Tick all sources used)
                    </th>
                </tr>
                <tr>
                    <td colspan="2">
                        {{getInformationSources(previourValues.InformationSource)}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Other (specify)
                    </td>
                    <td>
                        {{previourValues.InformationSourceSpecification}}
                    </td>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <th colspan="2">
                        Assessment Details
                    </th>
                </tr>
                <tr>
                    <td>
                        Completed by
                    </td>
                    <td>
                        <select class="form-control" disabled [attr.disabled] id="cpa_select" name="completedBy" [(ngModel)]="previourValues.CompletedBy">
                            <ng-container *ngFor="let user of usersList">
                                <option [ngValue]="user.id">
                                    {{ (user.firstName ==null || user.lastName == null)? user.email: user.firstName+" "+user.lastName}}
                                </option>
                            </ng-container>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Date completed
                    </td>
                    <td>
                        {{previourValues.CompletedDate | date:'yyyy-MM-dd'}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Date of next review
                    </td>
                    <td>
                        {{previourValues.NextReviewDate | date:'yyyy-MM-dd'}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Location
                    </td>
                    <td>
                        N/A
                    </td>
                </tr>
                <tr>
                    <td>
                        Circulated to
                    </td>
                    <td>
                        {{getCirculateToString(previourValues.CirculatedTo)}}
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
</body>

</html>