.btn.disabled{
    cursor: not-allowed;
}
.pull-right{
    float: right;
}

.mat-progress-spinner{
    display: inline-block !important;
    margin-top: calc(15% - 40px) 
}
.crt-user-btn{
    background-color: #68b7dc;
}