<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="heading_page shadow-sm header_usrprofl p-2 pr-3 ml-0">
                <h1><span class="usr_headleft"><i class="mdi mdi-calendar mx-2"></i> User Working Hours
                    </span><span class="usr_headname"></span>
                </h1>
            </div>
        </div>
    </div>

    <div class="my-2">
        <div class="sv-tab-panel mr-lft-10 bg-white shadow">
            <div class="row mx-0 p-3">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="dataTables_info d-flex" id="dtBasicExample_info" role="status" aria-live="polite">
                        <p class="mb-0 d-inline-block float-left mr-3 ln-40">Top</p>
                        <select [(ngModel)]="records.top" class="form-control d-inline-block"
                            (change)="getRecords(records)" style="width: auto;">
                            <option [ngValue]="10" selected>10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="d-inline-block float-right">
                        <label class="form-check-label mr-2 ln-35 float-left ln-40">User: </label>

                        <div class="form-check mr-2 d-inline-block">
                            <select class="form-control d-inline-block" [(ngModel)]="userId" id="userId">
                                <option [value]="0">Select User</option>
                                <ng-container *ngIf="users">
                                    <ng-container *ngFor="let user of users">
                                        <option [ngValue]="user.id" *ngIf="user.userType != userType.Admin">
                                            {{ (user.firstName ==null || user.lastName == null)?
                                            user.email: user.firstName+" "+user.lastName}}
                                        </option>
                                    </ng-container>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-2">
        <div class="sv-tab-panel mr-lft-10 bg-white shadow">
            <div class="row mx-0 p-3 bg-light border-bottom">
                <div class="col-sm-12 col-md-5 col-lg-3">
                    <label class="form-check-label mr-2 ln-35 float-left ln-40"> From Date: </label>

                    <div class="form-check mr-2 d-inline-block">
                        <input type="date" class="form-control d-inline-block" [ngModel]="startDate | date:'yyyy-MM-dd'"
                            (ngModelChange)="startDate = $event">
                    </div>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-3">
                    <label class="form-check-label mr-2 ln-35 float-left ln-40"> To Date: </label>

                    <div class="form-check mr-2 d-inline-block">
                        <input type="date" class="form-control d-inline-block" [ngModel]="endDate | date:'yyyy-MM-dd'"
                            (ngModelChange)="endDate = $event">
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-3">
                    <div class="dataTables_paginate paging_simple_numbers pull-left cont-searchbox"
                        id="dtBasicExample_paginate">
                        <button (click)="search()" class=" tbl-search-button form-control btn btn-dark pull-right"><i
                                class="mdi mdi-magnify mr-2"></i>Search</button>
                    </div>
                </div>
            </div>
            <div class="">
                <ng-container *ngIf="isBusy">
                    <div class="col-sm-12 text-center">
                        <mat-spinner diameter="40" strokeWidth="5" style="stroke: #00a1ff;display:inline">
                        </mat-spinner>
                    </div>
                </ng-container>

                <ng-container *ngIf="!isBusy && userWorkingHours.length > 0">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-hover bg-white mb-0 zoning_table usertable">
                            <thead class="thead-light">
                                <tr>
                                    <th class="w-5">S.no</th>
                                    <th class="w-10">User Name</th>
                                    <th class="w-10">Working Hours</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let user of userWorkingHours; let i = index">
                                    <tr>
                                        <td>{{i+1}}</td>
                                        <td class="w-10">{{user.userName}}</td>
                                        <td class="w-10">{{user.workingHours}}</td>

                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </ng-container>
                <ng-container *ngIf="!isBusy && userWorkingHours.length == 0">
                    <div class="text-center w-100 d-inline-block px-3 py-3">
                        <div class="alert alert-danger" role="alert">
                            <p class="mb-0"> No Record Found</p>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="row px-3 py-2">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">
                        Showing {{records.skip+1}} to {{lastRecord}} of {{recordCount}} entries</div>
                </div>
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers pull-right" id="dtBasicExample_paginate">
                        <pagination [totalItems]=recordCount [rotate]="rotate" [maxSize]="maxSize"
                            [itemsPerPage]=records.top (pageChanged)="pageChanged($event)"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>