<div class="horizontal-tabs my-3">
    <div class="sv-tab-panel info_tab_container px-0 pt-0">
        <ng-container *ngIf="isBusy">
            <div class="loader">
                <mat-spinner diameter="40" strokeWidth="5" style="stroke: #00a1ff;display:inline"></mat-spinner>
            </div>
        </ng-container>
        <ng-container *ngIf="showNotification">
            <div class="container">
                <div class="col-sm-12 text-center">
                    <label class="alert alert-danger mt-3 w-100"> Please complete registration first</label>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf=" !showNotification && !isBusy && showMedicationList && !showMedication">
            <div class="d-inline-block bg-white p-2 w-100 mb-2">
                <h3>Medications <span>
                    <button *ngIf="currentUserRole != userType.Auditor" class="btn btn-sm btn-info rounded-pill mr-4 pull-right my-2"
                        (click)="createMedication()"><i class="mdi mdi-plus mr-1"></i>Add Medication</button>
                </span></h3>
            </div>
            <ng-container *ngIf="medicationList.length > 0">
                <div class="d-inline-block bg-white p-3 w-100">
                    <table class="table table-bordered table-hover bg-white mb-0 zoning_table usertable">
                        <thead class="thead-light desk-inlinetable">
                            <tr>
                                <th class="w-10">S.no</th>
                                <th class="w-10">Depot type</th>
                                <th class="w-10"> Start Date</th>
                                <th class="w-10"> End date</th>
                                <th class="w-10"> Prescriber </th>
                                <th class="w-10">Action</th>
                            </tr>
                        </thead>
                        <tbody class="desk-inlinetable">

                            <ng-container *ngFor="let medication of medicationList; let i = index">
                                <tr>
                                    <td class="w-10">{{i+1}}</td>
                                    <td class="w-10">{{medication.depotType}}</td>
                                    <td class="w-10">{{(medication.startDate)?(medication.startDate| date :" dd-MM-Y "):"- "}}
                                    </td>
                                    <td class="w-10">{{(medication.endDate)?(medication.endDate| date :"dd-MM-Y "):'-'}}
                                    </td>
                                    <td class="w-10">{{medication.prescriber}}</td>
                                    <td class="w-10">
                                        <div class="actionbox ">
                                            <i class="mdi text-primary mdi-pencil mr-2 " title="Edit " *ngIf="currentUserRole != userType.Auditor" (click)="editMedication(medication) "></i>
                                            <i class="mdi text-danger mdi-delete mr-2 " title="Remove " *ngIf="currentUserRole != userType.Auditor" (click)="removeMedication(medication.id) "></i>
                                            <i class="mdi text-info mdi-eye-circle mr-2 " title="View " (click)="viewMedication(medication) "></i>

                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </ng-container>
            <ng-container *ngIf="!isBusy && medicationList.length <=0 ">

                <div class="text-center w-100 d-inline-block px-3 py-3">
                    <div class="alert alert-danger" role="alert">
                        <p class="mb-0"> No Record Found</p>
                    </div>
                </div>

            </ng-container>

        </ng-container>
        <ng-container *ngIf="!isBusy && !showMedicationList && !showMedication ">
            <app-medication [userData]="userData " (getMedications)="getMedications() " [medicationData]="medicationData "></app-medication>
            <!-- (showAllRiskAssessment)="showAllRiskAssessment() " -->
        </ng-container>
        <ng-container *ngIf="!isBusy && !showMedicationList && showMedication ">
            <app-show-medication [userData]="userData " (getMedications)="getMedications() " [medicationData]="medicationData "></app-show-medication>
            <!-- (showAllRiskAssessment)="showAllRiskAssessment() " -->
        </ng-container>
    </div>
</div>