.modalwd-shift{
    max-width: 650px; 
}
.care-infotable{
    margin-left: 0%;
    margin-bottom: 10px;
    margin-right: 0%; 
}
.info_tab_container{
    padding: 15px;
}
.modal-footer{
    border-top: solid thin #ffffff;
}
.modal-header{
    border-bottom: solid thin #ccc;
}