.bg-wine {
  width: auto;
  color: #fff;
  background-color: #cf9ea4;
}

.d-inline-flex {
  display: inline-flex;
}

.ln-35 {
  line-height: 35px;
}

.wrap-text {
  white-space: nowrap;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}