<div class="sv-tab-panel info_tab_container">
    <h3 class="zoning-head-com">
        Diary<span *ngIf="!loginId">
            <button data-toggle="modal " data-target="#add-diary-entry" (click)="addTask()"
                class="btn btn-sm btn-info rounded-pill mb-2 mr-4 crt-user-btn pull-right">
                <i class="mdi mdi-plus mr-1"></i> Add Task
            </button></span>
    </h3>
    <div class="care-infotable traing-course-table w-96 m-0 d-inline-block">
        <div class="col-sm-12 mb-2 mt-2 d-inline-flex">
            <div class="form-group mb-0" *ngIf="!loginId">
                <label class="form-check-label mr-2 ln-35 float-left"> Selelct Staff: </label>

                <div class="form-check mr-2 d-inline-block">
                    <select class="form-control d-inline-block bg-wine" [(ngModel)]="userId"
                        (ngModelChange)="filterTask()" id="location">
                        <option [value]="0" selected>Show All</option>
                        <ng-container *ngIf="usersList">
                            <ng-container *ngFor="let user of usersList">
                                <option [value]="user.id" *ngIf="userType.Admin != user.userType">
                                    {{
                                    user.firstName == null || user.lastName == null
                                    ? user.email
                                    : user.firstName + " " + user.lastName
                                    }}
                                </option>
                            </ng-container>
                        </ng-container>
                    </select>
                </div>
            </div>

            <div class="form-group mr-2 mb-0">
                <label class="form-check-label mr-2 ln-35 float-left"> Status: </label>

                <div class="mr-2 d-inline-block">
                    <select class="form-control d-inline-block bg-wine" [(ngModel)]="status"
                        (ngModelChange)="filterTask()" id="location">
                        <option [ngValue]="null" selected>Show All</option>
                        <option [ngValue]="true">On</option>
                        <option [ngValue]="false">Off</option>
                    </select>
                </div>
            </div>
        </div>
        <ng-container *ngIf="taskList.length > 0; else elseTemplate">
            <table class="table table-bordered table-hover bg-white mb-0 table_scroll_diary">
                <thead class="thead-light">
                    <tr>
                        <th class="w-10">Task Id</th>
                        <th class="w-10">Name of Task</th>
                        <th class="w-10">Description</th>
                        <th class="w-10">Status</th>
                        <th class="w-10">Care Coordinator</th>
                        <th class="w-10">Due Date</th>
                        <th class="w-10">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let task of tasks">
                        <tr [ngStyle]="{ 'background-color': task.taskDate | zoningAlertColor }">
                            <td class="w-10">TASK{{ task.id }}</td>
                            <td class="w-10">{{ task.taskName }}</td>
                            <td class="w-10"><span class="wrap-text">{{ task.description }}</span></td>
                            <td class="w-10">
                                <ng-container *ngIf="task.status; else elseBlock">
                                    <span class="bg-success text-white py-1 px-2 rounded-pill">Open</span>
                                </ng-container>
                                <ng-template #elseBlock>
                                    <span class="bg-warning text-white py-1 px-2 rounded-pill">Closed</span>
                                </ng-template>
                            </td>
                            <td class="w-10">
                                {{task.user ?(( task.user.firstName == null || task.user.lastName == null)?
                                task.user.email: task.user.firstName + " " + task.user.lastName ): "-"}}
                            </td>
                            <td class="w-10">{{ task.taskDate | date: "dd-MM-yyyy" }}</td>
                            <td class="w-10">
                                <div class="actionbox">
                                    <i (click)="showTask(task.id)" class="mdi text-info mdi-eye-circle mr-2"></i>
                                    <ng-container *ngIf="task.status">
                                        <i (click)="editTask(task)" class="mdi text-primary mdi-pencil mr-2"></i>
                                        <i (click)="remove(task.id)" class="mdi text-danger mdi-delete mr-2"></i>
                                        <i (click)="closeTask(task)" class="mdi text-dark mdi-eye-off mr-2"></i>
                                    </ng-container>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </ng-container>
        <ng-template #elseTemplate>
            <div class="error_Box p-5 m-4">
                <h4 class="alert alert-danger text-center mb-0">No Task Found</h4>
            </div>
        </ng-template>
    </div>
</div>

<app-add-task-modal #taskModal [locationId]="locationId"></app-add-task-modal>
<app-show-task-modal #showTaskModal></app-show-task-modal>