<div class="horizontal-tabs my-3">
    <div class="sv-tab-panel info_tab_container p-0">
        <ng-container *ngIf="showNotification">
            <div class="container">
                <div class="col-sm-12 text-center">
                    <label class="alert alert-danger mt-3 w-100"> Please complete registration first</label>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="isBusy">
            <div class="loader">
                <mat-spinner diameter="40" strokeWidth="5" style="stroke: #00a1ff;display:inline"></mat-spinner>
            </div>
        </ng-container>
        <ng-container *ngIf="!showNotification && !isBusy && showRiskAssessment">
            <div class="d-inline-block bg-white p-2 w-100 mb-2">
                <h3>Risk Assessments <span>
                        <button *ngIf="currentUserRole != userType.Auditor" class="btn btn-sm btn-info rounded-pill mr-4 pull-right my-2"
                            (click)="createRiskAssessment()"> <i class="mdi mdi-plus mr-1"></i> Add Assessments</button>
                    </span></h3>
            </div>
            <ng-container *ngIf="riskAssessmentList.length > 0">
                <div class="d-inline-block bg-white p-3 w-100">
                    <table class="table table-bordered table-hover bg-white mb-0 zoning_table usertable">
                        <thead class="thead-light">
                            <tr>
                                <th class="w-10">S.no</th>
                                <th class="w-10">Assessment Type</th>
                                <th class="w-10">Completed Date</th>
                                <th class="w-10">Review Date</th>
                                <th class="w-10">Circulated To</th>
                                <th class="w-10">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <ng-container *ngFor="let assessment of riskAssessmentList; let i = index">
                                <tr>
                                    <td class="w-10">{{i+1}}</td>
                                    <td class="w-10">{{assessment.assessmentType}}</td>
                                    <td class="w-10">{{(assessment.completedDate)?(assessment.completedDate| date :"dd-MM-Y"):"-"}}
                                    </td>
                                    <td class="w-10">{{(assessment.nextReviewDate)?(assessment.nextReviewDate| date :"dd-MM-Y"):'-'}}
                                    </td>
                                    <td class="w-10">{{getCirculateToString(assessment.circulatedTo)}}</td>
                                    <td class="w-10">
                                        <div class="actionbox">
                                            <ng-container *ngIf="!assessment.isSignOff">

                                                <i class="mdi text-primary mdi-pencil mr-2" *ngIf="currentUserRole != userType.Auditor" (click)="editAssessment(assessment)" title="Edit"></i>
                                            </ng-container>
                                            
                                            <i class="mdi text-info mdi-eye-circle mr-2" (click)="viewRiskAssessment(assessment.id)" title="View"></i>

                                            <a href="{{baseUrl}}/{{assessment.id}}" title="Download" class="mdi text-warning mdi-download mr-2"></a>
                                            
                                            <i class="mdi text-danger mdi-delete mr-2" *ngIf="currentUserRole != userType.Auditor" (click)="removeRiskAssessment(assessment.id)" title="Remove"></i>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </ng-container>
            <ng-container *ngIf="!showNotification && !isBusy && riskAssessmentList.length <= 0">

                <div class="text-center w-100 d-inline-block px-3 py-3">
                    <div class="alert alert-danger" role="alert">
                        <p class="mb-0"> No Record Found</p>
                    </div>
                </div>

            </ng-container>
        </ng-container>
        <ng-container *ngIf="!showNotification && !isBusy &&addRiskAssessment">
            <app-risk-assessment [userData]="userData" (showAllRiskAssessment)="showAllRiskAssessment()">
            </app-risk-assessment>
        </ng-container>
        <ng-container *ngIf="!showNotification && !isBusy &&editRiskAssessment">
            <app-edit-risk-assessment [userData]="userData" [riskAssessmentData]="riskAssessmentData" (showAllRiskAssessment)="showAllRiskAssessment()"></app-edit-risk-assessment>
        </ng-container>

        <ng-container *ngIf="!showNotification && !isBusy &&viewAssessment">
            <app-show-risk-assessment [userData]="userData" [riskAssessmentData]="riskAssessmentData" (showAllRiskAssessment)="showAllRiskAssessment()"></app-show-risk-assessment>
        </ng-container>
    </div>
</div>