<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class="heading_page shadow-sm header_usrprofl p-2 pr-3 mt-2 ml-0 mb-2">
                <h1>
                    <span class="usr_headleft">
                        <i class="mdi mdi-account-multiple mx-2"></i>
                        Service User Medication Audit Tool 
                    </span>
                    <button class="btn btn-sm btn-dark rounded-pill mr-4 mb-1 float-right"(click)="showFormsThirteen.emit()">Go Back</button>
                    <span class="usr_headname"></span>
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="horizontal-tabs mb-3 bg-white shadow-sm">
                <div class="sv-tab-panel info_tab_container">
                    <ng-container *ngIf="isBusy">
                        <div class="col-sm-12 text-center">
                            <mat-spinner diameter="40" strokeWidth="5" style="stroke: #00a1ff;display:inline">
                            </mat-spinner>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!isBusy && medicationAuditForm">
                        <div class="care-infotable w-96 mb-3 d-flex">
                            <table class="table w-50 mb-0">
                                <tbody>
                                    <tr>
                                        <th class="border-top-0">Audited by</th>
                                        <td class="border-top-0">
                                            <div class="form-group mb-0 input-txtbox">
                                                {{(medicationAuditForm.auditor)?((medicationAuditForm.auditor.firstName == null ||
                                                medicationAuditForm.auditor.lastName == null)?
                                                medicationAuditForm.auditor.email:(medicationAuditForm.auditor.firstName+"
                                                "+medicationAuditForm.auditor.lastName) ):'-'}}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="border-top-0">Location</th>
                                        <td class="border-top-0">
                                            <div class="form-group mb-0 input-txtbox">
                                                {{medicationAuditForm.locationName}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table w-50 mb-0">
                                <tbody>
                                    <tr>
                                        <th class="border-top-0">Date of Audit</th>
                                        <td class="border-top-0">
                                            <div class="form-group mb-0 input-txtbox">
                                                <!-- <input type="date" class="form-control" /> -->
                                                <label>{{(medicationAuditForm.auditDate)?(medicationAuditForm.auditDate|date:'dd-MM-yyyy'):'-'}}</label>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="border-top-0">SignOff By</th>
                                        <td class="border-top-0">
                                            <div class="form-group mb-0 input-txtbox">
                                                <label>{{medicationAuditForm.signoffByName}}</label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="care-infotable w-96 mb-3 d-flex">
                            <table class="table w-100 mb-0">
                                <thead>
                                    <tr>
                                        <th class="border-top-0 w-75">Areas of Audit</th>
                                        <th class="border-top-0 w-25">
                                            Findings
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Medication Administration Record (MAR) Front Page</td>
                                        <td>
                                            <div class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                {{riskAction[medicationAuditForm.medicationAdministrationRecord]}}
                                               
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Consent to treatment attached where applicable</td>
                                        <td>
                                            <div class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                {{riskAction[medicationAuditForm.treatmentAttached]}}
                                                
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Start and End dates on top of MARs </td>
                                        <td>
                                            <div class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                {{riskAction[medicationAuditForm.startAndEndDate]}}
                                               
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Handwritten Medicines has two counter signatures</td>
                                        <td>
                                            <div class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                {{riskAction[medicationAuditForm.handwrittenMedicines]}}
                                    
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Medications administered are signed for </td>
                                        <td>
                                            <div class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                {{riskAction[medicationAuditForm.medicationAdministeredSigned]}}
                                            
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Medications not given are coded for and reasons signed on the back of
                                            MAR
                                        </td>
                                        <td>
                                            <div class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                {{riskAction[medicationAuditForm.signedOnBack]}}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Daily counting </td>
                                        <td>

                                            <div class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                {{riskAction[medicationAuditForm.dailyCounting]}}
                                               
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Night counting</td>
                                        <td>
                                            <div class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                {{riskAction[medicationAuditForm.nightCounting]}}

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Medication received documented and signed for</td>
                                        <td>
                                            <div class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                {{riskAction[medicationAuditForm.medicationReceivedDocument]}}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Unwanted or expired medications are disposed / returned and it is
                                            documented
                                            and signed for</td>
                                        <td>
                                            <div class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                {{riskAction[medicationAuditForm.medicationsDisposed]}}
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <div class="care-infotable w-96 mb-3 d-flex">
                            <table class="table w-100 mb-0">
                                <thead>
                                    <tr>
                                        <th class="border-top-0 w-75">Individual Medications </th>
                                        <th class="border-top-0 w-25">
                                            Findings
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Medications in Date; Expiry date in diary for prompts</td>
                                        <td>
                                            <div class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                {{riskAction[medicationAuditForm.expiryDateForPrompts]}}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Liquids, creams, ointments & inhalers have Open and End Dates and signed
                                        </td>
                                        <td>
                                            <div class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                {{riskAction[medicationAuditForm.openAndEndDate]}}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Medications stored in locked cupboard </td>
                                        <td>
                                            <div class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                {{riskAction[medicationAuditForm.medicationsStored]}}
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <div class="col-sm-12 d-inline-block text-center mt-3 w-100">
                            <button class="btn btn-sm btn-dark rounded-pill mr-4 mb-1 "(click)="showFormsThirteen.emit()">Go Back</button>
                        </div>

                    </ng-container>

                </div>
            </div>
        </div>
    </div>
</div>