.table-wd-18 {
    width: 1800px !important;
  }
  .innerwhite-table .table td,
  .innerwhite-table .table th {
    border: 1px solid #dee2e6;
    line-height: 30px;
    padding: 4px 12px;
  }
  
  .audit-margin-main {
    margin-top: -20px;
    margin-left: -15px;
  }