<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="heading_page shadow-sm header_usrprofl p-2 pr-3 ml-0">
                <h1>
                    <span class="usr_headleft">
                        <i class="mdi mdi-account-multiple mx-2"></i>
                        Window Restrictor Audit (Weekly)
                    </span>
                    <span class="usr_headname"></span><span>
                        <button class="btn btn-sm btn-dark rounded-pill mb-3 mr-4 pull-right my-1 btn-go-back"
                            (click)="goBack()">Go Back</button>
                    </span>
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="horizontal-tabs mt-2 mb-3 bg-white shadow-sm mr-lft-10">
                <ng-container *ngIf="isBusy">
                    <div class="loader">
                        <mat-spinner diameter="40" strokeWidth="5" style="stroke: #00a1ff;display:inline"></mat-spinner>
                    </div>
                </ng-container>
                <ng-container *ngIf="!isBusy && auditForm">
                    <form [formGroup]="auditForm">
                        <div class="sv-tab-panel info_tab_container">
                            <div class="care-infotable w-96 mb-3 d-flex">
                                <table class="table w-50 mb-0">
                                    <tr>
                                        <th class="border-top-0">Location</th>
                                        <td class="border-top-0">
                                            <div class="form-group mb-0 input-txtbox">
                                                <select class="form-control"
                                                    (change)="getUsers($event.target.value)"
                                                    formControlName="locationId">
                                                    <ng-container
                                                        *ngFor="let location of locationList">
                                                        <option [value]="location.id">
                                                            {{location.name}}
                                                        </option>
                                                    </ng-container>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr
                                        *ngIf="currentUserRole == userType.Admin ||currentUserRole == userType.SuperUser ">
                                        <th class="border-top-0">Audited by</th>
                                        <td class="border-top-0">
                                            <div class="form-group mb-0 input-txtbox">
                                                <select class="form-control"
                                                    (change)="completeForm($event)" name="auditedBy"
                                                    formControlName="auditedBy">
                                                    <ng-container *ngFor="let user of userList">
                                                        <option [ngValue]="user.id"
                                                            *ngIf="user.userType != userType.Admin">
                                                            {{ (user.firstName ==null ||
                                                            user.lastName == null)?
                                                            user.email: user.firstName+"
                                                            "+user.lastName}}
                                                        </option>
                                                    </ng-container>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table class="table w-50 mb-0">
                                    <tbody>
                                        <tr>
                                            <th class="border-top-0">Date of Audit</th>
                                            <td class="border-top-0">
                                                <div class="form-group mb-0 input-txtbox">
                                                    <!-- <input type="date" class="form-control" /> -->
                                                    <label>{{(auditForm.get('auditDate').value)?(auditForm.get('auditDate').value|date:'dd-MM-yyyy'):'-'}}</label>

                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="border-top-0">SignOff By</th>
                                            <td class="border-top-0">
                                                <div class="form-group mb-0 input-txtbox">
                                                    <select class="form-control" formControlName="signoffBy"
                                                        (change)="changeSignoff()">
                                                        <ng-container *ngFor="let user of userList">
                                                            <option [ngValue]="user.id"
                                                                *ngIf="user.userType == userType.Admin || user.userType == userType.SuperUser ">
                                                                {{ (user.firstName ==null || user.lastName == null)?
                                                                user.email: user.firstName+" "+user.lastName}}
                                                            </option>
                                                        </ng-container>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <ng-container *ngIf="isFilling">
                                <div class="care-infotable w-96 mb-3 overflow-auto scrollthin">
                                    <div class="innerwhite-table p-3 d-flex wd2000">
                                        <table class="table mb-0 bg-white shadow-sm table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="border-top-0 text-center">#</th>
                                                    <th class="border-top-0">Window Restrictor Location</th>
                                                    <th class="border-top-0 w-10">Applicable</th>
                                                    <th class="border-top-0">Is restrictor present?</th>
                                                    <th class="border-top-0">Is restrictor functional?</th>
                                                    <th class="border-top-0">Are there signs of damage to the
                                                        restrictor?</th>
                                                    <th class="border-top-0">Is the restrictor defeated/defective?
                                                    </th>
                                                    <th class="border-top-0">Is action required? If ‘Yes’ complete
                                                        actions</th>
                                                    <th class="border-top-0">Action required</th>
                                                    <th class="border-top-0">Date Action Required Reported</th>
                                                    <th class="border-top-0">Date Action completed</th>
                                                    <th class="border-top-0">Action completed by</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container formArrayName="form12Records"
                                                    *ngFor="let stock of auditForm.get('form12Records')['controls'];let i= index ">
                                                    <tr [formGroupName]="i">
                                                        <!-- <td class="border-top-0">Staff Office Ground floor - Window 1</td> -->
                                                        <td class="border-top-0 text-center">
                                                            <div class="close float-none" (click)="remove(i)">
                                                                <i class="mdi mdi-close"></i>
                                                            </div>
                                                        </td>
                                                        <td class="border-top-0">
                                                            <input type="text" name="windowRestrictorLocation"
                                                                formControlName="windowRestrictorLocation"
                                                                class="form-control" />
                                                        </td>
                                                        <td class="border-top-0">
                                                            <div
                                                                class="form-group form-check mb-0 pl-0 d-inline-block float-left w-100">
                                                                <select class="form-control" name="isApplicable"
                                                                    formControlName="isApplicable">
                                                                    <option [ngValue]="true">Yes</option>
                                                                    <option [ngValue]="false">No</option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td class="border-top-0">
                                                            <div
                                                                class="form-group form-check mb-0 pl-0 d-inline-block float-left w-100">
                                                                <select class="form-control" name="isRestrictorPresent"
                                                                    formControlName="isRestrictorPresent">
                                                                    <option [ngValue]="true">Yes</option>
                                                                    <option [ngValue]="false">No</option>
                                                                </select>
                                                            </div>
                                                            <!-- <div
                                                            class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                            <input type="radio" name="isRestrictorPresent" id="isRestrictorPresentY{{i}}" formControlName="isRestrictorPresent" [value]="true"
                                                                class="form-check-input mt-1">
                                                            <label for="isRestrictorPresentY{{i}}" class="form-check-label">Yes</label>
                                                        </div>
                                                        <div
                                                            class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                            <input type="radio" name="isRestrictorPresent" id="isRestrictorPresentN{{i}}" formControlName="isRestrictorPresent" [value]="false"
                                                                class="form-check-input mt-1">
                                                            <label for="isRestrictorPresentN{{i}}" class="form-check-label">No</label>
                                                        </div> -->
                                                        </td>
                                                        <td class="border-top-0">
                                                            <div
                                                                class="form-group form-check mb-0 pl-0 d-inline-block float-left w-100">
                                                                <select class="form-control"
                                                                    name="isRestrictorFunctional"
                                                                    formControlName="isRestrictorFunctional">
                                                                    <option [ngValue]="true">Yes</option>
                                                                    <option [ngValue]="false">No</option>
                                                                </select>
                                                            </div>
                                                            <!-- <div
                                                            class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                            <input type="radio" name="isRestrictorFunctional" id="signOfDamageYes{{i}}" formControlName="isRestrictorFunctional" [value]="true"
                                                                class="form-check-input mt-1">
                                                            <label for="signOfDamageYes{{i}}" class="form-check-label">Yes</label>
                                                        </div>
                                                        <div
                                                            class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                            <input type="radio" name="isRestrictorFunctional" id="signOfDamageNo{{i}}" formControlName="isRestrictorFunctional" [value]="false"
                                                                class="form-check-input mt-1">
                                                            <label for="signOfDamageNo{{i}}" class="form-check-label">No</label>
                                                        </div> -->

                                                        </td>
                                                        <td class="border-top-0">
                                                            <div
                                                                class="form-group form-check mb-0 pl-0 d-inline-block float-left w-100">
                                                                <select class="form-control" name="signOfDamage"
                                                                    formControlName="signOfDamage">
                                                                    <option [ngValue]="true">Yes</option>
                                                                    <option [ngValue]="false">No</option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td class="border-top-0">
                                                            <div
                                                                class="form-group form-check mb-0 pl-0 d-inline-block float-left w-100">
                                                                <select class="form-control"
                                                                    name="isRestrictorDefective"
                                                                    formControlName="isRestrictorDefective">
                                                                    <option [ngValue]="true">Yes</option>
                                                                    <option [ngValue]="false">No</option>
                                                                </select>
                                                            </div>
                                                            <!-- <div
                                                            class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                            <input type="radio" name="isRestrictorDefective" id="yesDefective{{i}}" formControlName="isRestrictorDefective"  [value]="true"
                                                                class="form-check-input mt-1">
                                                            <label for="yesDefective{{i}}" class="form-check-label">Yes</label>
                                                        </div>
                                                        <div
                                                            class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                            <input type="radio" name="isRestrictorDefective" id="NoDefective{{i}}" formControlName="isRestrictorDefective"  [value]="false"
                                                                class="form-check-input mt-1">
                                                            <label for="NoDefective{{i}}" class="form-check-label">No</label>
                                                        </div> -->
                                                        </td>
                                                        <td class="border-top-0">
                                                            <div
                                                                class="form-group form-check mb-0 pl-0 d-inline-block float-left w-100">
                                                                <select class="form-control" name="isActionRequired"
                                                                    formControlName="isActionRequired">
                                                                    <option [ngValue]="true">Yes</option>
                                                                    <option [ngValue]="false">No</option>
                                                                </select>
                                                            </div>
                                                            <!-- <div
                                                            class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                            <input type="radio" name="isActionRequired" id="yes{{i}}"
                                                                class="form-check-input mt-1" formControlName="isActionRequired" [value]="true">
                                                            <label for="yes{{i}}" class="form-check-label">Yes</label>
                                                        </div>
                                                        <div
                                                            class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                            <input type="radio" name="isActionRequired" id="No{{i}}" class="form-check-input mt-1" formControlName="isActionRequired" [value]="false">
                                                            <label for="No{{i}}" class="form-check-label">No</label>
                                                        </div>
                                                    -->
                                                        </td>
                                                        <td class="border-top-0">

                                                            <div class="form-group mb-0 input-txtbox">
                                                                <input type="text" name="actionRequired"
                                                                    formControlName="actionRequired"
                                                                    class="form-control" />
                                                            </div>
                                                        </td>
                                                        <td class="border-top-0">
                                                            <div class="form-group mb-0 input-txtbox">
                                                                <input type="text" name="dateActionRequired"
                                                                    formControlName="dateActionRequired"
                                                                    class="form-control" />
                                                            </div>
                                                        </td>
                                                        <td class="border-top-0">
                                                            <div class="form-group mb-0 input-txtbox">
                                                                <input type="date" name="dateActionCompleted"
                                                                    formControlName="dateActionCompleted"
                                                                    class="form-control" />
                                                            </div>
                                                        </td>
                                                        <td class="border-top-0">
                                                            <div class="form-group mb-0 input-txtbox">
                                                                <select class="form-control" name="actionCompletedBy"
                                                                    formControlName="actionCompletedBy">
                                                                    <ng-container *ngFor="let user of allUserList">
                                                                        <option [ngValue]="user.id">
                                                                            {{ (user.firstName ==null || user.lastName
                                                                            ==
                                                                            null)?
                                                                            user.email: user.firstName+"
                                                                            "+user.lastName}}
                                                                        </option>
                                                                    </ng-container>
                                                                </select>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </ng-container>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="care-infotable w-96 p-3 d-flex bg-white">
                                    <button type="button" class="btn btn-sm rounded-pill btn-primary"
                                        (click)="addMoreRecordClick()"><i class="mdi mdi-plus mr-2"></i>Add
                                        more</button>
                                </div>
                            </ng-container>

                            <div class="col-sm-12 d-inline-block care-infotable mt-3 w-96 p-3"
                                *ngIf="auditForm.get('signoffBy').value == currentUserId ">
                                <p class="mr-2"><strong> Do you want to create form for next review date </strong></p>
                                <div class="form-group form-check mb-0 mr-2 d-inline-block">
                                    <input type="radio" name="confirmation" (change)="createForm = true" id="yes15"
                                        [value]="true" class="form-check-input mt-1 ng-untouched ng-pristine ng-valid">
                                    <label for="yes15" class="form-check-label">Yes</label>
                                </div>
                                <div class="form-group form-check mb-0 mr-2 d-inline-block">
                                    <input type="radio" name="confirmation" checked (change)="createForm = false"
                                        id="No15" [value]="false"
                                        class="form-check-input mt-1 ng-untouched ng-pristine ng-valid">
                                    <label for="No15" class="form-check-label">No</label>
                                </div>
                            </div>

                            <div class="col-sm-12 d-inline-block text-center mt-3 w-100">
                                <ng-container
                                    *ngIf="auditForm.get('signoffBy').value == currentUserId && isFilling; else elseTemplate">
                                    <button type="button" [disabled]="!auditForm.valid" (click)="onSubmit()"
                                        class="btn btn-sm btn-success rounded-pill">
                                        Submit & SignOff <i class="mdi mdi-content-save ml-1"></i>
                                    </button>
                                </ng-container>
                                <ng-template #elseTemplate>
                                    <button type="button" [disabled]="!auditForm.valid" (click)="onSubmit()"
                                        class="btn btn-sm btn-success rounded-pill">
                                        Submit <i class="mdi mdi-content-save ml-1"></i>
                                    </button>
                                </ng-template>
                            </div>
                        </div>
                    </form>
                </ng-container>
            </div>
        </div>
    </div>