.box_patientinfo ul{
    padding-left: 0;
    list-style: none;
}
.box_patientinfo ul li{
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    border-right: 5px solid #fff;
    background-color: #ecf4fa;
    border-radius: 50px;
    border: solid thin #ecf4fa;
}