<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-sm-12">
            <div class="heading_page shadow-sm header_usrprofl p-2 pr-3">
                <h1>
                    <span class="usr_headleft"><i class="mdi mdi-account-multiple mx-2"></i>
                        Change Password</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="row mt-1">

        <ng-container *ngIf="changePassword">
            <div class="col-sm-12">
                <div class=" my-2 bg-white shadow-sm mar-lt-5">
                    <div class="container-fluid">
                        <div class="row p-3">
                            <ng-container *ngIf="isBusy">
                                <div class="col-sm-12 text-center">
                                    <mat-spinner diameter="40" strokeWidth="5"
                                        style="stroke: #00a1ff;display:inline-block"></mat-spinner>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!isBusy">
                                <form [formGroup]="changePassword" class="change_paswrd">

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="currentPassword" class="star_mandator">Current
                                                    Password</label>
                                                <input type="password" class="form-control" id="currentPassword"
                                                    formControlName="oldPassword">
                                            </div>
                                            <ng-container *ngIf="!changePassword.controls.oldPassword.valid && 
                                    (changePassword.controls.oldPassword.dirty )">
                                                <p class="errorText">This field required</p>
                                            </ng-container>
                                        </div>
                                        <div class="col-sm-12">

                                            <div class="form-group">
                                                <label for="newPassword" class="star_mandator">New Password</label>
                                                <input type="text" class="form-control" id="newPassword"
                                                    formControlName="newPassword">
                                                <ng-container *ngIf="!changePassword.controls.newPassword.valid && 
                                        (changePassword.controls.newPassword.dirty )">
                                                    <p *ngIf="changePassword.controls.newPassword.errors?.required"
                                                        class="errorText">This field is required</p>
                                                    <ul *ngIf="changePassword.controls.newPassword.errors?.pattern"
                                                        class="errorText">
                                                        <li> Password must contain 1 upper letter, 2 lower
                                                            letter,1 special symbole and 2 numeric words.</li>
                                                        <li>Minumum 5 and max 8 characters are allowed</li>
                                                    </ul>
                                                    <!-- <p *ngIf="changePassword.controls.newPassword.errors?.pattern"
                                                        class="errorText">Please provide valid input only a-z A-Z
                                                        0-9_.@,-#&!'* character allowed</p> -->



                                                </ng-container>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">

                                            <div class="form-group">
                                                <label for="confirmPassword" class="star_mandator">Confirm
                                                    Password</label>
                                                <input type="password" formControlName="confirmPassword"
                                                    class="form-control" id="confirmPassword">
                                                <ng-container *ngIf="!changePassword.controls.confirmPassword.valid &&
                                    (changePassword.controls.confirmPassword.dirty)">
                                                    <p class="errorText">Password not match</p>
                                                </ng-container>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-sm-12">

                                            <button type="submit" [disabled]="!changePassword.valid"
                                                [ngClass]="{ 'disabled':!changePassword.valid}" (click)="onSubmit()"
                                                class="btn btn-primary btn-block btn-round">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>