<div class="main-content">
    <div class="supported"></div>
    <div class="notSupported">
        Device not supported.
    </div>

    <ng-container *ngIf="isAuthenticated">
        <app-site-header (toggleSidebar)="sidebarToggle($event)"></app-site-header>
        <div class="com-container-list" [ngClass]="{'com-container-broad':toggleSidebar}">
            <router-outlet></router-outlet>
        </div>
        <app-site-footer></app-site-footer>
    </ng-container>
    <ng-container *ngIf="!isAuthenticated">

        <app-login></app-login>
    </ng-container>

    @if (isShowChatToggleOption) {
    <div class="chat-box" (click)="toggleChatBox()">
        <img src="../assets/images/chat.png" alt="">
    </div>
    }
</div>


@if (isShowChat) {
<div style="display: block;" class="modal bd-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <ng-message-kit [env]="env"></ng-message-kit>
        </div>
    </div>
</div>
}