<div class="row mt-2 mb-2 px-4">
    <div class="col-lg-12 no-pad scroller">
        <div class="box_nav_tab" id="scroll-div">
            <ul class="nav nav-tabs prof_info_tabs" role="tablist">
                <li class="nav-item">
                    <div class="nav-link menu-barbox status-user1 " (click)="showTab(1)"
                        [ngClass]="{'active': tab == 1}" data-toggle="tab" href="#stats" role="tab"
                        aria-controls="status">
                        <img src="assets/images/status-img.png">
                        <h4 class="mb-0">Stats</h4>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="nav-link menu-barbox status-user2" (click)="showTab(2)" [ngClass]="{'active': tab == 2}"
                        data-toggle="tab" href="#carePlan" role="tab" aria-controls="carePlan">
                        <img src="assets/images/care-img.png">
                        <h4 class="mb-0">Care Plan</h4>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="nav-link menu-barbox status-user3" (click)="showTab(3)" [ngClass]="{'active': tab == 3}"
                        data-toggle="tab" href="#recoveryStar" role="tab" aria-controls="recoveryStar">
                        <img src="assets/images/assessment-igm.png">
                        <h4 class="mb-0">Risk-Assessment</h4>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="tab-content bg-white shadow">
        <ng-container *ngIf="tab == 1">

            <div class="tab-pane show" [ngClass]="{'active': tab == 1}" id="stats" role="tabpanel">

                <div class="row m-0 pb-1">
                    <div class="col-sm-12 mb-2 p-0">
                        <h4 class="p-2 bg-wine text-white stats-hading mb-0">Service User Audit Forms Due</h4>
                        <div class="content p-3">
                            <div class="wrapper chart_box" id="graph-container-0">
                                <div class="col-sm-12 text-center">
                                    <mat-spinner diameter="40" strokeWidth="5" style="stroke: #00a1ff;display:inline">
                                    </mat-spinner>
                                </div>
                                <canvas id="chart-0"></canvas>
                            </div>
                            <div id="chart-analyser-0" class="analyser"></div>
                        </div>
                    </div>

                    <div class="col-sm-12 mb-2 p-0">
                        <h4 class="p-2 bg-wine text-white stats-hading mb-0">Location Audit Forms Due</h4>
                        <div class="content p-3">
                            <div class="wrapper chart_box" id="graph-container-1">
                                <div class="col-sm-12 text-center">
                                    <mat-spinner diameter="40" strokeWidth="5" style="stroke: #00a1ff;display:inline">
                                    </mat-spinner>
                                </div>
                                <canvas id="chart-1"></canvas>
                            </div>
                            <div id="chart-analyse-1" class="analyser"></div>
                        </div>
                    </div>

                    <div class="col-sm-12 mb-2 p-0">
                        <h4 class="p-2 bg-wine text-white stats-hading mb-0">Timeline Of Upcoming Risk Assessment</h4>
                        <div class="content p-3">
                            <div class="wrapper chart_box" id="graph-container-3">
                                <div class="col-sm-12 text-center">
                                    <mat-spinner diameter="40" strokeWidth="5" style="stroke: #00a1ff;display:inline">
                                    </mat-spinner>
                                </div>
                                <canvas id="chart-3"></canvas>
                            </div>
                            <div id="chart-analyser-3" class="analyser"></div>
                        </div>
                    </div>

                    <div class="col-sm-12 mb-2 p-0">
                        <h4 class="p-2 bg-wine text-white stats-hading mb-0">Active Service Users-Last 12 Months</h4>
                        <div class="content p-3">
                            <div class="wrapper chart_box" id="graph-container-4">
                                <div class="col-sm-12 text-center">
                                    <mat-spinner diameter="40" strokeWidth="5" style="stroke: #00a1ff;display:inline">
                                    </mat-spinner>
                                </div>
                                <canvas id="chart-4"></canvas>
                            </div>
                            <div id="chart-analyser-4" class="analyser"></div>
                        </div>
                    </div>

                    <div class="col-sm-12 mb-2 p-0">
                        <h4 class="p-2 bg-wine text-white stats-hading mb-0">Upcoming Care Plans</h4>
                        <div class="content p-3">
                            <div class="wrapper chart_box" id="graph-container-5">
                                <div class="col-sm-12 text-center">
                                    <mat-spinner diameter="40" strokeWidth="5" style="stroke: #00a1ff;display:inline">
                                    </mat-spinner>
                                </div>
                                <canvas id="chart-5"></canvas>
                            </div>
                            <div id="chart-analyser-5" class="analyser"></div>
                        </div>
                    </div>

                    <div class="col-sm-12 mb-2 p-0">
                        <h4 class="p-2 bg-wine text-white stats-hading mb-0">Average Time Of Clients At Carehome</h4>
                        <div class="content p-3">
                            <div class="wrapper chart_box" id="graph-container-11">
                                <canvas id="chart-11"></canvas>
                            </div>
                            <div id="chart-analyser-11" class="analyser"></div>
                        </div>
                    </div>

                    <div class="col-sm-12 mb-2 p-0">
                        <h4 class="p-2 bg-wine text-white stats-hading mb-0">Upcoming Medication</h4>
                        <div class="content p-3">
                            <div class="wrapper chart_box" id="graph-container-6">
                                <div class="col-sm-12 text-center">
                                    <mat-spinner diameter="40" strokeWidth="5" style="stroke: #00a1ff;display:inline">
                                    </mat-spinner>
                                </div>
                                <canvas id="chart-6"></canvas>
                            </div>
                            <div id="chart-analyser-6" class="analyser"></div>
                        </div>
                    </div>

                    <div class="col-sm-12 mb-2 p-0">
                        <h4 class="p-2 bg-wine text-white stats-hading mb-0">Top 10 Longest Active Cases</h4>
                        <div class="content p-3">
                            <div class="box_user_active">
                                <table class="table table-bordered table-stripped serviceuser-table">
                                    <thead class="bg-light">
                                        <th>
                                            Sno
                                        </th>
                                        <th>
                                            Patient Name
                                        </th>
                                        <th>
                                            Location Name
                                        </th>
                                        <th>
                                            Care Coordinators
                                        </th>
                                        <th>
                                            Days Spents
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let activePatient of longestActivePatients;let i = index">
                                            <td>{{i+1}}</td>
                                            <td>{{activePatient.patientName}}</td>
                                            <td>{{activePatient.locationName}}</td>
                                            <td>{{activePatient.careCoordinators}}</td>
                                            <td>{{activePatient.daysSpent}}</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="tab == 2">

            <div class="tab-pane" [ngClass]="{'active': tab == 2}" id="carePlan" role="tabpanel">
                <div class="row m-0 mb-1 pb-1">
                    <div class="care-infotable traing-course-table w-96 mt-3 d-inline-block tab-96-imp">
                        <div class="row px-3 py-2">
                            <div class="col-sm-12 col-md-3 col-lg-6">
                                <div class="dataTables_info d-flex" id="dtBasicExample_info" role="status"
                                    aria-live="polite">
                                    <p class="mb-0 d-inline-block float-left mr-3 ln-40">Top</p>
                                    <select [(ngModel)]="records.top" class="form-control d-inline-block"
                                        (change)="getCarePlan(records)" style="width: auto;">
                                        <option [ngValue]="10" selected>10</option>
                                        <option [ngValue]="25">25</option>
                                        <option [ngValue]="50">50</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-5 col-lg-6">
                                <div class="d-inline-block float-right">
                                    <label class="form-check-label mr-2 ln-35 float-left ln-40"> Patient: </label>

                                    <div class="form-check mr-2 d-inline-block">
                                        <select class="form-control d-inline-block"
                                            (change)="filterByPatienId($event.target.value)" id="patientId">
                                            <option [value]="0">Select Patient</option>
                                            <ng-container *ngIf="patients">
                                                <ng-container *ngFor="let patient of patients">
                                                    <option [value]="patient.id">{{patient.firstName+"
                                                        "+patient.lastName}}
                                                    </option>
                                                </ng-container>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 px-3 py-2">

                            <div class="col-sm-12 col-md-5 col-lg-4">
                                <label class="form-check-label mr-2 ln-35 float-left ln-40"> From Date: </label>

                                <div class="form-check mr-2 d-inline-block">
                                    <input type="date" class="form-control d-inline-block"
                                        [ngModel]="startDate | date:'yyyy-MM-dd'" (ngModelChange)="startDate = $event">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-5 col-lg-4">
                                <label class="form-check-label mr-2 ln-35 float-left ln-40"> To Date: </label>

                                <div class="form-check mr-2 d-inline-block">
                                    <input type="date" class="form-control d-inline-block"
                                        [ngModel]="endDate | date:'yyyy-MM-dd'" (ngModelChange)="endDate = $event">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <div class="dataTables_paginate paging_simple_numbers pull-left cont-searchbox"
                                    id="dtBasicExample_paginate">
                                    <button (click)="filterByDates()"
                                        class=" tbl-search-button form-control btn btn-dark pull-right"><i
                                            class="mdi mdi-magnify"></i>Search</button>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <ng-container *ngIf="isBusy">
                                <div class="col-sm-12 text-center">
                                    <mat-spinner diameter="40" strokeWidth="5" style="stroke: #00a1ff;display:inline">
                                    </mat-spinner>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="!isBusy && carePlans.length > 0">
                                <div class="col-sm-12">
                                    <table
                                        class="table table-bordered table-hover bg-white mb-0 zoning_table usertable">
                                        <thead class="thead-light">
                                            <tr>
                                                <th class="w-5">S.no</th>
                                                <th class="w-10">Service User</th>
                                                <th class="w-10">User Name</th>
                                                <th class="w-10">Record</th>
                                                <th class="w-10">Completed At</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let carePlan of carePlans; let i = index">
                                                <tr>
                                                    <td>{{i+1}}</td>
                                                    <td class="w-10">{{carePlan.patientName}}</td>
                                                    <td class="w-10">{{carePlan.userName}}</td>
                                                    <td class="w-10">{{carePlan.recordType}}</td>
                                                    <td class="w-10">{{carePlan.completedDate|date:'dd-MM-yyyy'}}</td>

                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!isBusy && carePlans.length == 0">
                                <div class="text-center w-100 d-inline-block px-3 py-3">
                                    <div class="alert alert-danger" role="alert">
                                        <p class="mb-0"> No Record Found</p>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <div class="row px-3 py-2">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">
                                    Showing {{records.skip+1}} to {{lastRecord}} of {{recordCount}} entries</div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers pull-right"
                                    id="dtBasicExample_paginate">
                                    <pagination [totalItems]=recordCount [rotate]="rotate" [maxSize]="maxSize"
                                        [itemsPerPage]=records.top (pageChanged)="pageChanged($event)"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="tab == 3">

            <div class="tab-pane" [ngClass]="{'active': tab == 3}" id="recoveryStar" role="tabpanel">
                <div class="row m-0 mb-1 pb-1">
                    <div class="care-infotable traing-course-table w-96 mt-3 d-inline-block tab-96-imp">
                        <div class="row px-3 py-2">
                            <div class="col-sm-12 col-md-3 col-lg-6">
                                <div class="dataTables_info d-flex" id="dtBasicExample_info" role="status"
                                    aria-live="polite">
                                    <p class="mb-0 d-inline-block float-left mr-3 ln-40">Top</p>
                                    <select [(ngModel)]="riskAssessmentRecords.top" class="form-control d-inline-block"
                                        (change)="getRiskAssessments(riskAssessmentRecords)" style="width: auto;">
                                        <option [ngValue]="10" selected>10</option>
                                        <option [ngValue]="25">25</option>
                                        <option [ngValue]="50">50</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-5 col-lg-6">
                                <div class="d-inline-block float-right">
                                    <label class="form-check-label mr-2 ln-35 float-left ln-40"> Patient: </label>

                                    <div class="form-check mr-2 d-inline-block">
                                        <select class="form-control d-inline-block"
                                            (change)="riskAssessmentByPatienId($event.target.value)" id="patientId">
                                            <option [value]="0">Select Patient</option>
                                            <ng-container *ngIf="patients">
                                                <ng-container *ngFor="let patient of patients">
                                                    <option [value]="patient.id">{{patient.firstName+"
                                                        "+patient.lastName}}
                                                    </option>
                                                </ng-container>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 px-3 py-2">

                            <div class="col-sm-12 col-md-5 col-lg-4">
                                <label class="form-check-label mr-2 ln-35 float-left ln-40"> From Date: </label>

                                <div class="form-check mr-2 d-inline-block">
                                    <input type="date" class="form-control d-inline-block"
                                        [ngModel]="fromDate | date:'yyyy-MM-dd'" (ngModelChange)="fromDate = $event">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-5 col-lg-4">
                                <label class="form-check-label mr-2 ln-35 float-left ln-40"> To Date: </label>

                                <div class="form-check mr-2 d-inline-block">
                                    <input type="date" class="form-control d-inline-block"
                                        [ngModel]="toDate | date:'yyyy-MM-dd'" (ngModelChange)="toDate = $event">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <div class="dataTables_paginate paging_simple_numbers pull-left cont-searchbox"
                                    id="dtBasicExample_paginate">
                                    <button (click)="riskAssessmentByDates()"
                                        class=" tbl-search-button form-control btn btn-dark pull-right"><i
                                            class="mdi mdi-magnify"></i>Search</button>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <ng-container *ngIf="isBusy">
                                <div class="col-sm-12 text-center">
                                    <mat-spinner diameter="40" strokeWidth="5" style="stroke: #00a1ff;display:inline">
                                    </mat-spinner>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="!isBusy && riskAssessments.length > 0">
                                <div class="col-sm-12">
                                    <table
                                        class="table table-bordered table-hover bg-white mb-0 zoning_table usertable">
                                        <thead class="thead-light">
                                            <tr>
                                                <th class="w-5">S.no</th>
                                                <th class="w-10">Service User</th>
                                                <th class="w-10">User Name</th>
                                                <th class="w-10">Record</th>
                                                <th class="w-10">Completed At</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let assessment of riskAssessments; let i = index">
                                                <tr>
                                                    <td>{{i+1}}</td>
                                                    <td class="w-10">{{assessment.patientName}}</td>
                                                    <td class="w-10">{{assessment.userName}}</td>
                                                    <td class="w-10">{{assessment.recordType}}</td>
                                                    <td class="w-10">{{assessment.completedDate|date:'dd-MM-yyyy'}}</td>

                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!isBusy && riskAssessments.length == 0">
                                <div class="text-center w-100 d-inline-block px-3 py-3">
                                    <div class="alert alert-danger" role="alert">
                                        <p class="mb-0"> No Record Found</p>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <div class="row px-3 py-2">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">
                                    Showing {{riskAssessmentRecords.skip+1}} to {{riskAssessmentLastRecord}} of
                                    {{riskAssessmentRecordCount}} entries</div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers pull-right"
                                    id="dtBasicExample_paginate">
                                    <pagination [totalItems]=riskAssessmentRecordCount [rotate]="rotate"
                                        [maxSize]="maxSize" [itemsPerPage]=riskAssessmentRecords.top
                                        (pageChanged)="riskAssessmentPageChanged($event)"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>