<div class="horizontal-tabs my-3">
    <div class="sv-tab-panel info_tab_container pt-0">
        <ng-container *ngIf="isBusy">
            <div class="loader">
                <mat-spinner diameter="40" strokeWidth="5" style="stroke: #00a1ff;display:inline"></mat-spinner>
            </div>
        </ng-container>
        <ng-container *ngIf="showNotification">
            <div class="container">
                <div class="col-sm-12 text-center">
                    <label class="alert alert-danger mt-3 w-100"> Please complete registration first</label>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf=" !isBusy && !showNotification && showProgressNotes && !showProgressNote">
            <div class="d-inline-block bg-white p-2 w-100 mb-2">
                <h3>Daily Occurrence <span>
                    <button *ngIf="currentUserRole != userType.Auditor" class="btn btn-sm btn-info rounded-pill mr-4 pull-right my-2"
                        (click)="addProgressNote()"><i class="mdi mdi-plus mr-1"></i>Add Progress Note</button>
                </span></h3>
            </div>
            <ng-container *ngIf="progressNoteList.length > 0">
                <div class="d-inline-block bg-white p-3 w-100">
                    <table class="table table-bordered table-hover bg-white mb-0 zoning_table usertable">
                        <thead class="thead-light">
                            <tr>
                                <th class="w-10">S.no</th>
                                <th class="w-10">Completed By</th>
                                <th class="w-10">Date-Time Note Taken</th>
                                <th class="w-10">Shift</th>
                                <th class="w-10">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <ng-container *ngFor="let progressNote of progressNoteList; let i = index">
                                <tr>
                                    <td class="w-10">{{i+1}}</td>
                                    <td class="w-10">{{getUserName(progressNote.userId)}}</td>
                                    <td class="w-10">{{(progressNote.noteDate)?(progressNote.noteDate|date :'short'):"-"}}
                                    </td>
                                    <td class="w-10">{{(progressNote.shift)?(progressNote.shift):'-'}}
                                    </td>
                                    <td class="w-10">
                                        <div class="actionbox">
                                            
                                            <i class="mdi text-primary mdi-pencil mr-2" *ngIf="currentUserRole != userType.Auditor" title="Edit" (click)="editProgressNote(progressNote)"></i>
                                            <i class="mdi text-danger mdi-delete mr-2" *ngIf="currentUserRole != userType.Auditor" title="Remove" (click)="removeProgressNote(progressNote.id)"></i>
                                            <i class="mdi text-info mdi-eye-circle mr-2" title="View" (click)="showNote(progressNote)"></i>

                                            <i class="mdi text-primary mdi-pencil mr-2" *ngIf="progressNote.formStatus == 1" title="Need to update" (click)="editProgressNote(progressNote)"></i>

                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </ng-container>
            <ng-container *ngIf="!isBusy && progressNoteList.length <= 0">

                <div class="text-center w-100 d-inline-block px-3 py-3">
                    <div class="alert alert-danger" role="alert">
                        <p class="mb-0"> No Record Found</p>
                    </div>
                </div>

            </ng-container>

        </ng-container>
        <ng-container *ngIf="!isBusy && !showNotification && !showProgressNotes && !showProgressNote">
            <app-progressnotes [userData]="userData" (getProgressNotes)="getProgressNotes()" [progressNote]="progressNote"></app-progressnotes>
            <!-- (showAllRiskAssessment)="showAllRiskAssessment()" -->
        </ng-container>

        <ng-container *ngIf="!isBusy && !showNotification && !showProgressNotes && showProgressNote">
            <app-show-progress-note [userData]="userData" (getProgressNotes)="getProgressNotes()" [progressNote]="progressNote"></app-show-progress-note>
            <!-- (showAllRiskAssessment)="showAllRiskAssessment()" -->
        </ng-container>
    </div>
</div>