.box_patientinfo ul {
    padding-left: 0;
    list-style: none;
}

.box_patientinfo ul li {
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    border-right: 5px solid #fff;
    background-color: #ecf4fa;
    border-radius: 50px;
    border: solid thin #ecf4fa;
}

.drop-collapse {
    cursor: pointer;
    line-height: 40px;
    margin-left: 2%;
    line-height: 40px;
    padding-left: 1%;
    background-color: #f1f2f3;
}

@media (max-width:1199px) and (min-width:768px) {
    .form-check-input {
        margin-top: .1rem;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .w-96-imp {
        width: 96% !important;
    }
}