<div class="sv-tab-panel info_tab_container">
    <h3 class="zoning-head-com">
        Diary
        <span>
            <button class="btn btn-sm btn-info rounded-pill mb-2 mr-4 crt-user-btn pull-right">Export Log</button>
            <button class="btn btn-sm btn-success rounded-pill mb-2 mr-4 crt-user-btn pull-right">Save</button>
        </span>
    </h3>
    <div class="care-infotable traing-course-table w-96 m-0 d-inline-block">

        <div class="w-100 bg-white d-inline-block float-left container-input py-3 px-4">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group mb-0">
                        <ul class="list-group">
                            <li class="list-group-item disabled bg-green-darklight border-0" aria-disabled="true">Select Patient
                            </li>
                            <li class="list-group-item border-0 p-0">
                                <select class="form-control d-inline-block pull-right bg-wine">
                                    <option value="" selected="">Patient 1</option>
                                    <option value="1">Patient 1</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group mb-0">
                        <ul class="list-group">
                            <li class="list-group-item disabled bg_light-red border-0" aria-disabled="true">
                                Patient Name
                            </li>
                            <li class="list-group-item border-0 p-0">
                                <input type="text" class="form-control" placeholder="Enter Patient Name">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group mb-0">
                        <ul class="list-group">
                            <li class="list-group-item disabled bg_light-red border-0" aria-disabled="true">
                                Patient Age
                            </li>
                            <li class="list-group-item border-0 p-0">
                                <input type="number" class="form-control" placeholder="Enter Patient Age">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-hover bg-white mb-0">
            <thead class="bg-lightblue">
                <tr>
                    <th rowspan="2">Scroing Criteria</th>
                    <th>Day</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </tr>
                <tr>
                    <th>Date</th>
                    <th>24-05-2021</th>
                    <th>25-05-2021</th>
                    <th>26-05-2021</th>
                    <th>27-05-2021</th>
                    <th>28-05-2021</th>
                    <th>29-05-2021</th>
                    <th>30-05-2021</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        Irritability
                    </td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td colspan="2">
                        Impulsivity
                    </td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </tbody>
            <tfoot>
                <th class="bg-lightblue" colspan="2">
                    Total
                </th>
                <th class="bg-light-green">Green</th>
                <th class="bg-light-green">Green</th>
                <th class="bg-light-green">Green</th>
                <th class="bg-light-green">Green</th>
                <th class="bg-light-green">Green</th>
                <th class="bg-light-green">Green</th>
                <th class="bg-light-green">Green</th>
            </tfoot>
        </table>
    </div>
</div>