.bg-lightblue {
    background: #dbeef4;
}

.bg-light-green {
    background: #9bbb58
}

.bg-green-darklight {
    background: #d6e5bc;
}

.list-group-item.disabled,
.list-group-item:disabled {
    color: #000000;
    font-weight: 600;
}

.bg_light-red {
    background: #e9b6bb
}