.fc td.fc-bgevent {
    vertical-align: bottom;
    padding: 0.25em;
    opacity: inherit; // default 0.3 (for above gridlines)
  }
  
  .fc-row .fc-bgevent-skeleton {
    z-index: 0; // default 2 (above gridlines)
  }
  
  .fc-bgevent-title {
    z-index: 999; // doesn't help
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    //text-overflow: ellipsis;
  }
  .bg-wine{
  width: auto;
    color: #fff;
    background-color: #cf9ea4;
}
.btn-search{
  width: 30%;
  height: 40px;
}
.actionbox{
  margin-top: -9px;
}

full-calendar .fc-day-sun {
  background-color: red !important;
  /*your styles goes here*/
}

