.bg-wine {
    width: auto;
    color: #fff;
    background-color: #cf9ea4;
}

.zoning-head-com {
    width: 100%;
}
.table_scroll_diary thead, .zoning_table thead, .table_scroll_diary tbody, .zoning_table tbody{
    display: inline-table;
}