<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="heading_page shadow-sm header_usrprofl p-2 pr-3 ml-0">
                <h1>
                    <span class="usr_headleft">
                        <i class="mdi mdi-account-multiple mx-2"></i>
                        Window Restrictor Audit (Weekly)
                    </span>
                    <span class="usr_headname"></span><span>
                        <button class="btn btn-sm btn-dark rounded-pill mb-3 mr-4 pull-right my-1 btn-go-back"
                            (click)="goBack()">Go
                            Back</button>
                    </span>
                </h1>
            </div>
        </div>
    </div>

            <div class="horizontal-tabs mt-1 mb-3 bg-white shadow-sm mr-lft-10">
                <ng-container *ngIf="isBusy">
                    <div class="loader">
                        <mat-spinner diameter="40" strokeWidth="5" style="stroke: #00a1ff;display:inline"></mat-spinner>
                    </div>
                </ng-container>
                <ng-container *ngIf="!isBusy && auditForm">
                    <form>
                        <div class="sv-tab-panel info_tab_container">
                            <div class="care-infotable w-96 mb-3 d-flex">
                                <table class="table w-50 mb-0">
                                    <tbody>
                                        <tr>
                                            <th class="border-top-0">Audited by</th>
                                            <td class="border-top-0">
                                                <div class="form-group mb-0 input-txtbox">
                                                    {{(auditForm.auditor)?((auditForm.auditor.firstName == null ||
                                                    auditForm.auditor.lastName == null)?
                                                    auditForm.auditor.email:(auditForm.auditor.firstName+"
                                                    "+auditForm.auditor.lastName) ):'-'}}
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="border-top-0">Location</th>
                                            <td class="border-top-0">
                                                <div class="form-group mb-0 input-txtbox">
                                                    {{auditForm.locationName}}
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table w-50 mb-0">
                                    <tbody>
                                        <tr>
                                            <th class="border-top-0">Date of Audit</th>
                                            <td class="border-top-0">
                                                <div class="form-group mb-0 input-txtbox">
                                                    <!-- <input type="date" class="form-control" /> -->
                                                    <label>{{(auditForm.auditDate)?(auditForm.auditDate|date:'dd-MM-yyyy'):'-'}}</label>
            
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="border-top-0">SignOff By</th>
                                            <td class="border-top-0">
                                                <div class="form-group mb-0 input-txtbox">
                                                    <label>{{auditForm.signoffByName}}</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="care-infotable w-96 mb-3 overflow-auto scrollthin">
                                <div class="innerwhite-table p-3 d-flex wd2000 ">
                                <table class="table mb-0 bg-white shadow-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0 w-10">Window Restrictor Location</th>
                                            <th class="border-top-0 w-10">Applicable</th>
                                            <th class="border-top-0 w-10">Is restrictor present?</th>
                                            <th class="border-top-0 w-10">Is restrictor functional?</th>
                                            <th class="border-top-0 w-10">Are there signs of damage to the
                                                restrictor?</th>
                                            <th class="border-top-0 w-10">Is the restrictor defeated/defective?</th>
                                            <th class="border-top-0 w-10">Is action required? If ‘Yes’ complete
                                                actions</th>
                                            <th class="border-top-0 w-10">Action Required</th>
                                            <th class="border-top-0 w-10">Date Action Required Reported</th>
                                            <th class="border-top-0 w-10">Date Action completed</th>
                                            <th class="border-top-0 w-10">Action completed by</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let stock of auditForm.form12Records;let i= index ">
                                            <tr>
                                                <!-- <td class="border-top-0">Staff Office Ground floor - Window 1</td> -->
                                                <td class="border-top-0">
                                                    {{stock.windowRestrictorLocation}}
                                                </td>
                                                <td class="border-top-0">
                                                    <div
                                                        class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                        {{(stock.isApplicable)?"Yes":"N/A"}}
                                                    </div>
                                                </td>
                                                <td class="border-top-0">
                                                    <div
                                                        class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                        {{(stock.isRestrictorPresent)?"Yes":"No"}}
                                                    </div>
                                                </td>
                                                <td class="border-top-0">
                                                    <div
                                                        class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                        {{(stock.isRestrictorFunctional)?"Yes":"No"}}
                                                    </div>
                                                </td>
                                                <td class="border-top-0">
                                                    <div
                                                        class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                        {{(stock.signOfDamage)?"Yes":"No"}}
                                                    </div>
                                                </td>
                                                <td class="border-top-0">
                                                    <div
                                                        class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                        {{(stock.isRestrictorDefective)?"Yes":"No"}}
                                                    </div>
                                                </td>
                                                <td class="border-top-0">
                                                    <div
                                                        class="form-group form-check mb-0 mr-2 d-inline-block float-left">
                                                        {{(stock.isActionRequired)?"Yes":"No"}}
                                                    </div>
                                                </td>
                                                <td class="border-top-0">
                                                    <div class="form-group mb-0 input-txtbox">
                                                        {{stock.actionRequired}}
                                                    </div>
                                                </td>
                                                <td class="border-top-0">
                                                    <div class="form-group mb-0 input-txtbox">
                                                        {{stock.dateActionRequired}}
                                                    </div>
                                                </td>
                                                <td class="border-top-0">
                                                    <div class="form-group mb-0 input-txtbox">
                                                        {{stock.dateActionCompleted}}
                                                    </div>
                                                </td>
                                                <td class="border-top-0">
                                                    <div class="form-group mb-0 input-txtbox">
                                                        {{getUserName(stock.actionCompletedBy)}}
                                                    </div>
                                                </td>
                                            </tr>

                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                            </div>

                            <div class="col-sm-12 d-inline-block text-center mt-3 w-100">
                                <button class="btn btn-sm btn-dark rounded-pill mb-3 mr-4 my-1 btn-go-back"
                                    (click)="goBack()">Go Back</button>
                            </div>
                        </div>
                    </form>
                </ng-container>
            </div>