<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="heading_page shadow-sm header_usrprofl p-2 pr-3 ml-0 mb-2">
                <h1>
                    <ng-container *ngIf="formName == formsName.Patient">
                        <span class="usr_headleft">Patient</span>
                    </ng-container>
                    <ng-container *ngIf="formName == formsName.RiskAssessment">
                        <span class="usr_headleft">Risk Assessment</span>
                    </ng-container>
                    <ng-container *ngIf="formName == formsName.SharedPathway">
                        <span class="usr_headleft">Shared Pathway</span>
                    </ng-container>
                    <ng-container *ngIf="formName == formsName.RecoveryStar">
                        <span class="usr_headleft">Recovery Star</span>
                    </ng-container>
                    <ng-container *ngIf="formName == formsName.ProgressNote">
                        <span class="usr_headleft">Daily Occurrence</span>
                    </ng-container>
                    <ng-container *ngIf="formName == formsName.MoveOnFunctional">
                        <span class="usr_headleft">Move-On Functional</span>
                    </ng-container>
                    <ng-container *ngIf="formName == formsName.PatientTransaction">
                        <span class="usr_headleft">Finance</span>
                    </ng-container>
                    <ng-container *ngIf="formName == formsName.Form13">
                        <span class="usr_headleft">Form13</span>
                    </ng-container>
                    <ng-container *ngIf="formName == formsName.Form15">
                        <span class="usr_headleft">Form15</span>
                    </ng-container>
                    <ng-container *ngIf="formName == formsName.Form17">
                        <span class="usr_headleft">Form17</span>
                    </ng-container>
                    <ng-container *ngIf="formName == formsName.Form16">
                        <span class="usr_headleft">Form16</span>
                    </ng-container>
                    <ng-container *ngIf="formName == formsName.Form10">
                        <span class="usr_headleft">Form10</span>
                    </ng-container>
                    <ng-container *ngIf="formName == formsName.Form9">
                        <span class="usr_headleft">Form9</span>
                    </ng-container>
                    <ng-container *ngIf="formName == formsName.Form8">
                        <span class="usr_headleft">Form8</span>
                    </ng-container>
                    <ng-container *ngIf="formName == formsName.Form7">
                        <span class="usr_headleft">Form7</span>
                    </ng-container>
                    <ng-container *ngIf="formName == formsName.Form2">
                        <span class="usr_headleft">Form2</span>
                    </ng-container>
                    <ng-container *ngIf="formName == formsName.Form12">
                        <span class="usr_headleft">Form12</span>
                    </ng-container>
                    <ng-container *ngIf="formName == formsName.Form14">
                        <span class="usr_headleft">Form14</span>
                    </ng-container>

                    <ng-container *ngIf="formName == formsName.Form11">
                        <span class="usr_headleft">Form11</span>
                    </ng-container>

                    <ng-container *ngIf="formName == formsName.Form19">
                        <span class="usr_headleft">Form19</span>
                    </ng-container>

                    <ng-container *ngIf="formName == formsName.Form20">
                        <span class="usr_headleft">Form20</span>
                    </ng-container>

                    <ng-container *ngIf="formName == formsName.Form21">
                        <span class="usr_headleft">Form21</span>
                    </ng-container>
                </h1>
            </div>
        </div>
    </div>
    <ng-container *ngIf="isBusy || isUserLoading">
        <div class="loader">
            <mat-spinner diameter="40" strokeWidth="5" style="stroke: #00a1ff;display:inline"></mat-spinner>
        </div>
    </ng-container>
    <ng-container *ngIf="!isBusy && !isUserLoading">
        <div class="row">
            <div class="col-sm-12">
                <ng-container *ngIf="formsList.length > 0 && !showForm">
                    <div class="d-inline-block w-100 bg-white p-3 mt-3">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-hover bg-white mb-0 zoning_table usertable">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="w-20">#</th>
                                        <ng-container
                                            *ngIf="formName == formsName.Form15 ||formName == formsName.Form17||formName == formsName.Form16||formName == formsName.Form10||formName == formsName.Form9||formName == formsName.Form8||formName == formsName.Form7||formName == formsName.Form2||formName == formsName.Form12||formName == formsName.Form14">
                                            <th class="w-20">Audited By</th>
                                        </ng-container>
                                        <th class="w-20">Created At</th>
                                        <th class="w-20">Created By</th>
                                        <th class="w-20">Action</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <ng-container *ngFor="let form of formsList; let i=index">
                                        <tr>
                                            <td class="w-20">{{i+1}}</td>
                                            <ng-container
                                                *ngIf="formName == formsName.Form15 ||formName == formsName.Form17||formName == formsName.Form16||formName == formsName.Form10||formName == formsName.Form9||formName == formsName.Form8||formName == formsName.Form7||formName == formsName.Form2||formName == formsName.Form12||formName == formsName.Form14">
                                                <td class="w-20">{{getUserName(form.auditedBy)}}</td>
                                            </ng-container>
                                            <td class="w-20">{{((form.createdAt)?(form.createdAt|date:'dd-MM-yyyy')
                                                :((form.completedDate)?(form.completedDate|date:'dd-MM-yyyy'):((form.noteDate)?(form.noteDate|date:'dd-MM-yyyy'):(form.auditDate)?(form.auditDate|date:'dd-MM-yyyy'):'-')))
                                                }}
                                            </td>
                                            <td class="w-20">
                                                {{getUserName((form.createdBy)?(form.createdBy):((form.completedBy)?form.completedBy:form.userId))}}
                                            </td>
                                            <td class="w-20">
                                                <div class="actionbox">
                                                    <i title="Edit" (click)="openForm(form)"
                                                        class="mdi text-info mdi-eye-circle mr-2"></i> 
                                                        <!-- we need to change the icon from view to edit as we are editing from here -->
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="formsList.length == 0">
                    <div class="error_Box p-5 m-4">
                        <h4 class="alert alert-danger text-center mb-0">No Record Found</h4>
                    </div>
                </ng-container>


                <ng-container *ngIf="formName == formsName.Patient && showForm">
                    <app-registration [registrationData]="formData" [isReload]="true">
                        <div class="row"></div>
                    </app-registration>
                </ng-container>
                <ng-container *ngIf="formName == formsName.RiskAssessment && showForm">
                    <app-edit-risk-assessment [userData]="userData" [riskAssessmentData]="formData" [isReload]="true">
                    </app-edit-risk-assessment>
                </ng-container>
                <ng-container *ngIf="formName == formsName.SharedPathway && showForm">
                    <app-my-shared-pathway [userData]="userData" [sharedPathwayData]="formData" [isReload]="true">
                    </app-my-shared-pathway>
                </ng-container>
                <ng-container *ngIf="formName == formsName.RecoveryStar && showForm">
                    <app-recovery-star [userData]="userData" [recoveryStarId]="formData.id" [isReload]="true">
                    </app-recovery-star>
                </ng-container>
                <ng-container *ngIf="formName == formsName.ProgressNote && showForm">
                    <app-progressnotes [userData]="userData" [progressNote]="formData" [isReload]="true">
                    </app-progressnotes>
                </ng-container>
                <ng-container *ngIf="formName == formsName.MoveOnFunctional && showForm">
                    <app-functional-checklist [userData]="userData" [functionalityData]="formData" [isReload]="true">
                    </app-functional-checklist>
                </ng-container>
                <!-- <ng-container *ngIf="formName == formsName.PatientTransaction && showForm">
                    <app-finance [userData]="userData" []="formData" [isReload]="true"></app-finance>
                </ng-container> -->

                <ng-container *ngIf="formName == formsName.Form13 && showForm">
                    <app-form-thirteen [serviceUserData]="userData" [medicationAudit]="formData" [isReload]="true">
                    </app-form-thirteen>
                </ng-container>
                <ng-container *ngIf="formName == formsName.Form15 && showForm">
                    <app-form-fifteen [serviceUserData]="userData" [medicationSpotCheck]="formData" [isReload]="true">
                    </app-form-fifteen>
                </ng-container>
                <ng-container *ngIf="formName == formsName.Form17 && showForm">
                    <app-form-seventeen [serviceUserData]="userData" [weeklyMedicationStock]="formData"
                        [isReload]="true"></app-form-seventeen>
                </ng-container>

            </div>
        </div>
    </ng-container>
</div>