<div class="modal fade in" bsModal #financialYearModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <ng-container *ngIf="!isEdit">Add Financial Year</ng-container>
          <ng-container *ngIf="isEdit">Edit Financial Year</ng-container>
        </h5>
        <button type="button" class="close" (click)="cancel()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="isBusy">
          <div class="col-sm-12 text-center">
            <mat-spinner diameter="40" strokeWidth="5" style="stroke: #00a1ff;display:inline"></mat-spinner>
          </div>
        </ng-container>

        <ng-container *ngIf="financialYearForm && !isBusy">
          <form [formGroup]="financialYearForm">
            <div class="form-group">
              <label class="star_mandator"><strong>Financial Year Name</strong></label>
              <input type="text" class="form-control" id="nameofcourse" placeholder="" name="financialYearName" formControlName='financialYearName'>
              <ng-container *ngIf="!financialYearForm.controls.financialYearName.valid && 
              (financialYearForm.controls.financialYearName.dirty )">
           
                <p *ngIf="financialYearForm.controls.financialYearName.errors?.required" class="text-danger">This Field is Required</p>
                <p *ngIf="financialYearForm.controls.financialYearName.errors?.minlength"  class="errorText">Minimum 2 character required</p>
                <p *ngIf="financialYearForm.controls.financialYearName.errors?.maxlength" class="errorText">Maximum 10 character allowed</p>
              </ng-container>
            </div>

          </form>
        </ng-container>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light rounded-pill" (click)="cancel()" data-dismiss="modal"> <i class="mdi mdi-close mr-1"></i> Close</button>
        <button type="submit" (click)="onSubmit()" [ngClass]="{ 'disabled':financialYearForm && !financialYearForm.valid}"
          class="btn btn-success rounded-pill"><i class="mdi mdi-content-save mr-1"></i> Save</button>
      </div>
    </div>
  </div>
</div>