<div class="d-flex">
    <div class="col-sm-6">
        <div class="content m-3 p-3">
            <div class="wrapper chart_box" id="graph-container-0">
                <canvas id="chart-0"></canvas>
            </div>
            <div id="chart-analyser" class="analyser"></div>
        </div>
    </div>
    <div class="col-sm-6">

        <div class="content m-3 p-3">
            <div class="wrapper chart_box" id="graph-container-1">
                <canvas id="chart-1"></canvas>
            </div>
            <div id="chart-analyse" class="analyser"></div>
        </div>
    </div>
</div>