<h3>Apply Leave
    <span> <button class="btn btn-sm btn-info rounded-pill mb-2 mr-4 crt-user-btn pull-right" (click)="getUsersLeave()">
            <i class="mdi mdi-location-exit mr-1"></i>
            Apply Leave List</button></span>
</h3>
<hr class="mx-4">
<form [formGroup]="applyLeave" *ngIf="applyLeave">
    <div class="care-infotable d-inline-block float-left">
        <table class="table mb-0">
            <tbody>
                <tr>
                    <th>Employee Name</th>
                    <td>
                        <div class="form-group mb-0 input-txtbox">
                            <div class="input-group">
                                <select class="form-control" (change)="getUserBalance($event.target.value)"
                                    formControlName="userId" id="">
                                    <ng-container *ngFor="let user of usersList">
                                        <option [value]="user.id" *ngIf="user.userType != userType.Admin">
                                            {{ (user.firstName ==null || user.lastName == null)?
                                            user.email: user.firstName+" "+user.lastName}}
                                        </option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Start Date</th>
                    <td>
                        <div class="form-group mb-0 input-txtbox">
                            <div class="input-group">
                                <input type="date" placeholder="" (change)="checkIsHalfDay()"
                                    [min]="(!isEdit)?(today|date:'yyyy-MM-dd'):'-'" formControlName="startDate"
                                    class="form-control">
                            </div>
                            <ng-container *ngIf="!applyLeave.controls.startDate.valid && 
                            (applyLeave.controls.startDate.dirty )">
                                <p *ngIf="applyLeave.controls.startDate.errors?.inValidDateError" class="errorText">
                                    Start Date can't be previous date</p>
                            </ng-container>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>End Date</th>
                    <td>
                        <div class="form-group mb-0 input-txtbox">
                            <div class="input-group">
                                <input type="date" placeholder="" formControlName="endDate" class="form-control">
                            </div>
                            <ng-container *ngIf="!applyLeave.controls.endDate.valid && 
                            (applyLeave.controls.endDate.dirty )">
                                <p *ngIf="applyLeave.controls.endDate.errors?.inValidDateError" class="errorText">
                                    End Date can't before start date</p>
                            </ng-container>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        <input type="checkbox" (change)="checkIsHalfDay()" formControlName="isHalfDay" value="true">
                        IsHalfDay

                    </th>
                    <!-- <th>Leave Count</th>
                    <td>
                        <div class="form-group mb-0 input-txtbox">
                            {{calculateLeaves()}}
                        </div>
                    </td> -->
                </tr>

            </tbody>
        </table>
    </div>
    <div class="care-infotable d-inline-block float-left">
        <div class="d-flex text-right">
            <p class="mr-4 p-3"><b>Total Balance:</b> {{totalLeave}}</p>
            <p class="mr-4 p-3"><b> Leave Count:</b> {{calculateLeaves()}}</p>
            <p class="p-3"><b>Remaning Leave:</b> {{getRemainigLeave()}}</p>
        </div>
        <!-- <p>Leave Count: {{calculateLeaves()}}</p> -->
        <table class="table mb-0">
            <tbody>
                <tr>
                    <th>Leave Type</th>
                    <td>
                        <div class="form-group mb-0 input-txtbox">

                            <select class="form-control" formControlName="leaveType" id="">
                                <ng-container *ngFor="let leave of leaveTypes">
                                    <option [ngValue]="leave.value">{{leave.key}}</option>
                                </ng-container>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Reason</th>
                    <td>
                        <div class="form-group mb-0 input-txtbox">
                            <div class="input-group">
                                <textarea rows="2" cols="2" placeholder="" formControlName="reason"
                                    class="form-control"></textarea>
                            </div>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
    <div class="care-infotable d-inline-block float-left w-96 bg-white">
        <div class="row mx-0" *ngIf="usershifts.length > 0">
            <ul>
                <li class="errorText">Remove user from the shift(s) to apply a full day leave.</li>
                <li class="errorText">For half-day leave, select shift(s) to apply half-day for.</li>
            </ul>
            <table class="table mb-0">
                <thead class="bg-light">
                    <tr>
                        <th>SNo.</th>
                        <th>Shift Name</th>
                        <th>Location</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th [ngClass]="{'d-none':(!applyLeave.get('isHalfDay').value == true)?true:false}">HalfDay Shift
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let shift of usershifts; let i=index">
                        <th>{{i+1}}</th>

                        <th>{{(shift.shift)?shift.shift.title:'-'}}</th>
                        <th>{{(shift.locationName)?shift.locationName:'-'}}</th>
                        <th>{{(shift.shift)?(shift.shift.startTime|date:'dd-MM-yyyy hh:mm a'):'-'}}</th>
                        <th>{{(shift.shift)?(shift.shift.endTime|date:'dd-MM-yyyy hh:mm a'):'-'}}</th>
                        <th [ngClass]="{'d-none':(!applyLeave.get('isHalfDay').value == true)?true:false}"><input
                                type="checkbox" [checked]="isChecked(shift.shiftId)"
                                (change)="shiftHalfDay(shift.shiftId)" value="true">
                        </th>
                        <th>
                            <div class="actionbox">
                                <i class="mdi text-danger mdi-delete mr-2" (click)="removeFromShift(shift.shiftId)"></i>
                            </div>
                        </th>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-12 d-inline-block text-center mt-3 w-100">
        <button type="button" class="btn btn-sm btn-success rounded-pill" (click)="checkUserShifts()"
            [disabled]="!applyLeave.valid" [ngClass]="{ 'disabled':!applyLeave.valid}">
            <i class="mdi mdi-content-save-settings mr-2"></i> Save </button>
    </div>
</form>